<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{'STUDENT.PROFILE' | translate}}</h1>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <i class="fas fa-4x fa-user-graduate"></i>
            </div>
            <h3 class="profile-username text-center">
              {{studentsSSOData[0].givenname}} {{studentsSSOData[0].sn}}
            </h3>
            <p class="text-muted text-center">
              {{'STUDENT.UNDERGRAD' | translate}}
            </p>
          </div>
        </div>
        <div class="card card-primary">
          <div class="card-header student-card-header">
            <h3 class="card-title">{{'STUDENT.PROFILE-ABOUTME' | translate}}</h3>
          </div>
          <div class="card-body">
            <strong><i class="fas fa-map-marker-alt mr-1"></i> {{'STUDENT.PROFILE-LOCATION' | translate}}</strong>
            <p class="text-muted">
              {{studentsSSOData[0].address}} {{studentsSSOData[0].city}}
            </p>
            <hr />
            <strong><i class="fas fa-phone-alt mr-1"></i> {{'STUDENT.PROFILE-PHONE' | translate}}</strong>
            <p class="text-muted">
              {{studentsSSOData[0].phone}}
            </p>
            <hr />
            <strong><i class="fas fa-envelope mr-1"></i> {{'STUDENT.HOUSING-INF10' | translate}}</strong>
            <p class="text-muted">
              {{studentsSSOData[0].mail}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#settings" data-toggle="tab">
                  {{'STUDENT.HOUSING-INFO' | translate}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#studentContact" data-toggle="tab">{{'STUDENT.PROFILE-COMMUNICATION' |
                  translate}}</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" id="activity">
              </div>
              <div class="tab-pane active" id="settings">
                <div class="alert alert-danger" role="alert">
                  {{'STUDENT.HOUSING-DANGER1' | translate}}
                </div>
                <form ngNativeValidate #studentsDetailsForm="ngForm" class="form-horizontal"
                  (ngSubmit)="onSubmitStudentDetails(studentsDetailsForm.value)">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"> {{'STUDENT.HOUSING-INFO1' | translate}}
                    </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" name="name"
                        placeholder="{{'STUDENT.HOUSING-INFO1' | translate}}" readonly
                        [(value)]="studentsSSOData[0].givenname" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"> {{'STUDENT.HOUSING-INFO2' | translate}}
                    </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" name="surname"
                        placeholder="{{'STUDENT.HOUSING-INFO2' | translate}}" readonly
                        [(value)]="studentsSSOData[0].sn" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">{{'STUDENT.HOUSING-INFO3' |
                      translate}}</label>
                    <div class="col-sm-10">
                      <input type="text" name="father_name" class="form-control" id="inputName2"
                        placeholder="{{'STUDENT.HOUSING-INFO3' | translate}}" ngModel
                        [(ngModel)]="studentsSSOData[0].father_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">
                      {{'STUDENT.PROFILE-FATHERS-SURNAME' | translate}}</label>
                    <div class="col-sm-10">
                      <input type="text" name="father_last_name" class="form-control" id="fatherLastName"
                        placeholder="{{'STUDENT.PROFILE-FATHERS-SURNAME' | translate}}" ngModel
                        [(ngModel)]="studentsSSOData[0].father_last_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">
                      {{'STUDENT.PROFILE-MOTHERS-NAME' | translate}} </label>
                    <div class="col-sm-10">
                      <input type="text" name="mother_name" class="form-control" id="inputName2"
                        placeholder="{{'STUDENT.PROFILE-MOTHERS-NAME' | translate}}" value="" ngModel
                        [(ngModel)]="studentsSSOData[0].mother_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-MOTHERS-SURNAME' |
                      translate}}</label>
                    <div class="col-sm-10">
                      <input type="text" name="mother_last_name" class="form-control" id="inputName2"
                        placeholder="{{'STUDENT.PROFILE-MOTHERS-SURNAME' | translate}}" value="" ngModel
                        [(ngModel)]="studentsSSOData[0].mother_last_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-DATEOFBIRTH' |
                      translate}}</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" id="date_of_birth" name="schacdateofbirth"
                        placeholder="{{'STUDENT.PROFILE-DATEOFBIRTH' | translate}}" readonly min="1900-01-01"
                        max="2500-01-01" [(value)]="studentsSSOData[0].schacdateofbirth" />
                    </div>
                  </div>
                  <div class="form-group container-fluid row" style="width: 320px; margin: auto">
                    <div class="col-sm-6 profileButton">
                      <button type="submit" class="btn btn-primary" style="width: 120px; margin: auto">
                        {{'STUDENT.PROFILE-SAVE' | translate}}
                      </button>
                    </div>
                    <div class="col-sm-6">
                      <a (click)="studentsDetailsForm.resetForm()" class="btn btn-secondary"
                        style="width: 120px; margin: auto">
                        {{'STUDENT.PROFILE-CANCEL' | translate}}
                      </a>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="studentContact">
                <form ngNativeValidate #studentContactForm="ngForm" class="form-horizontal"
                  (ngSubmit)="onSubmitStudentContact(studentContactForm.value)">
                  <div class="fieldset-wrapper">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"> {{'STUDENT.HOUSING-INF10' | translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail"
                          placeholder="{{'STUDENT.HOUSING-INF10' | translate}}" [(value)]="studentsSSOData[0].mail"
                          readonly />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-PHONE' | translate}}</label>
                      <div class="col-sm-10">
                        <input type="number" class="form-control" id="phone" name="phone" ngModel
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          placeholder="{{'STUDENT.PROFILE-PHONE' | translate}}" [(ngModel)]="studentsSSOData[0].phone"
                          maxlength="10" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.HOUSING-INFO6' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <select name="location" class="form-select" id="location" ngModel
                          [(ngModel)]="studentsSSOData[0].location">
                          <option *ngFor="let element of location">
                            {{element.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-TOWN' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="text" id="city" name="city" size="64" maxlength="255"
                          class="form-text form-control"
                          placeholder="{{'STUDENT.PROFILE-TOWN' | translate}} {{'STUDENT.PROFILE-STATE' | translate}}"
                          ngModel [(ngModel)]="studentsSSOData[0].city" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-STREET' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="text" id="address" name="address" ngModel value="" size="64" maxlength="255"
                          class="form-text form-control"
                          placeholder="{{'STUDENT.PROFILE-STREET' | translate}} {{'STUDENT.PROFILE-STATE' | translate}}"
                          [(ngModel)]="studentsSSOData[0].address" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-POSTCODE'
                        | translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="number" id="post_address" name="post_address" maxlength="5"
                          oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                          class="form-text form-control"
                          placeholder="{{'STUDENT.PROFILE-POSTCODE' | translate}} {{'STUDENT.PROFILE-STATE' | translate}}"
                          ngModel [(ngModel)]="studentsSSOData[0].post_address" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-COUNTRY' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <select name="country" class="form-select" id="country" ngModel
                          [(ngModel)]="studentsSSOData[0].country">
                          <option *ngFor="let element of countries">
                            {{element.name}}</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group container-fluid row" style="width: 320px; margin: auto">
                      <div class="col-sm-6 profileButton">
                        <button type="submit" class="btn btn-primary" style="width: 120px; margin: auto">
                          {{'STUDENT.PROFILE-SAVE' | translate}}
                        </button>
                      </div>
                      <div class="col-sm-6">
                        <a (click)="studentContactForm.resetForm()" class="btn btn-secondary"
                          style="width: 120px; margin: auto">
                          {{'STUDENT.PROFILE-CANCEL' | translate}}
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>