<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{'STUDENT.PROFILE' | translate}}</h1>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</section>
<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="card card-primary card-outline">
          <div class="card-body box-profile">
            <div class="text-center">
              <i class="fas fa-4x fa-user-graduate"></i>
            </div>
            <h3 class="profile-username text-center">
              {{studentsSSOData[0].givenname}} {{studentsSSOData[0].sn}}
            </h3>
            <p class="text-muted text-center">
              {{'STUDENT.UNDERGRAD' | translate}}
            </p>
          </div>
        </div>
        <div class="card card-primary">
          <div class="card-header student-card-header">
            <h3 class="card-title">{{'STUDENT.PROFILE-ABOUTME' | translate}}</h3>
          </div>
          <div class="card-body">
            <strong><i class="fas fa-map-marker-alt mr-1"></i> {{'STUDENT.PROFILE-LOCATION' | translate}}</strong>
            <p class="text-muted">
              {{studentsSSOData[0].address}} {{studentsSSOData[0].city}}
            </p>
            <hr />
            <strong><i class="fas fa-phone-alt mr-1"></i> {{'STUDENT.PROFILE-PHONE' | translate}}</strong>
            <p class="text-muted">
              {{studentsSSOData[0].phone}}
            </p>
            <hr />
            <strong><i class="fas fa-envelope mr-1"></i> {{'STUDENT.HOUSING-INF10' | translate}}</strong>
            <p class="text-muted">
              {{studentsSSOData[0].mail}}
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-9">
        <div class="card">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#settings" data-toggle="tab">
                  {{'STUDENT.HOUSING-INFO' | translate}}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#studentContact" data-toggle="tab">{{'STUDENT.PROFILE-COMMUNICATION' |
                  translate}}</a>
              </li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane" id="activity">
              </div>
              <div class="tab-pane active" id="settings">
                <div class="alert alert-danger" role="alert">
                  {{'STUDENT.HOUSING-DANGER1' | translate}}
                </div>
                <form ngNativeValidate #studentsDetailsForm="ngForm" class="form-horizontal"
                  (ngSubmit)="onSubmitStudentDetails(studentsDetailsForm.value)">
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"> {{'STUDENT.HOUSING-INFO1' | translate}}
                    </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" name="name"
                        placeholder="{{'STUDENT.HOUSING-INFO1' | translate}}" readonly
                        [(value)]="studentsSSOData[0].givenname" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName" class="col-sm-2 col-form-label"> {{'STUDENT.HOUSING-INFO2' | translate}}
                    </label>
                    <div class="col-sm-10">
                      <input type="text" class="form-control" id="inputName" name="surname"
                        placeholder="{{'STUDENT.HOUSING-INFO2' | translate}}" readonly
                        [(value)]="studentsSSOData[0].sn" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">{{'STUDENT.HOUSING-INFO3' |
                      translate}}</label>
                    <div class="col-sm-10">
                      <input type="text" name="father_name" class="form-control" id="inputName2"
                        placeholder="{{'STUDENT.HOUSING-INFO3' | translate}}" ngModel
                        [(ngModel)]="studentsSSOData[0].father_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">
                      {{'STUDENT.PROFILE-FATHERS-SURNAME' | translate}}</label>
                    <div class="col-sm-10">
                      <input type="text" name="father_last_name" class="form-control" id="fatherLastName"
                        placeholder="{{'STUDENT.PROFILE-FATHERS-SURNAME' | translate}}" ngModel
                        [(ngModel)]="studentsSSOData[0].father_last_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">
                      {{'STUDENT.PROFILE-MOTHERS-NAME' | translate}} </label>
                    <div class="col-sm-10">
                      <input type="text" name="mother_name" class="form-control" id="inputName2"
                        placeholder="{{'STUDENT.PROFILE-MOTHERS-NAME' | translate}}" value="" ngModel
                        [(ngModel)]="studentsSSOData[0].mother_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputName2" class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-MOTHERS-SURNAME' |
                      translate}}</label>
                    <div class="col-sm-10">
                      <input type="text" name="mother_last_name" class="form-control" id="inputName2"
                        placeholder="{{'STUDENT.PROFILE-MOTHERS-SURNAME' | translate}}" value="" ngModel
                        [(ngModel)]="studentsSSOData[0].mother_last_name" />
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputExperience" class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-DATEOFBIRTH' |
                      translate}}</label>
                    <div class="col-sm-10">
                      <input class="form-control" type="text" id="date_of_birth" name="schacdateofbirth"
                        placeholder="{{'STUDENT.PROFILE-DATEOFBIRTH' | translate}}" readonly min="1900-01-01"
                        max="2500-01-01" [(value)]="studentsSSOData[0].schacdateofbirth" />
                    </div>
                  </div>
                  <div class="form-group container-fluid row" style="width: 320px; margin: auto">
                    <div class="col-sm-6 profileButton">
                      <button type="submit" class="btn btn-primary" style="width: 120px; margin: auto">
                        {{'STUDENT.PROFILE-SAVE' | translate}}
                      </button>
                    </div>
                    <div class="col-sm-6">
                      <a (click)="studentsDetailsForm.resetForm()" class="btn btn-secondary"
                        style="width: 120px; margin: auto">
                        {{'STUDENT.PROFILE-CANCEL' | translate}}
                      </a>
                    </div>
                  </div>
                </form>
              </div>
              <div class="tab-pane" id="studentContact">
                <form ngNativeValidate #studentContactForm="ngForm" class="form-horizontal"
                  (ngSubmit)="onSubmitStudentContact(studentContactForm.value)">
                  <div class="fieldset-wrapper">
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label"> {{'STUDENT.HOUSING-INF10' | translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail"
                          placeholder="{{'STUDENT.HOUSING-INF10' | translate}}" [(value)]="studentsSSOData[0].mail"
                          readonly />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-PHONE' | translate}}</label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="phone" name="phone" ngModel
                          placeholder="{{'STUDENT.PROFILE-PHONE' | translate}}" [(ngModel)]="studentsSSOData[0].phone"
                          value="" size="10" maxlength="10" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.HOUSING-INFO6' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="text" class="form-control" id="location" name="location" ngModel
                          placeholder="{{'STUDENT.HOUSING-INFO6' | translate}} {{'STUDENT.PROFILE-STATE' | translate}}"
                          [(ngModel)]="studentsSSOData[0].location" value="" size="64" maxlength="255" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-TOWN' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="text" id="city" name="city" size="64" maxlength="255"
                          class="form-text form-control"
                          placeholder="{{'STUDENT.PROFILE-TOWN' | translate}} {{'STUDENT.PROFILE-STATE' | translate}}"
                          ngModel [(ngModel)]="studentsSSOData[0].city" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-STREET' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="text" id="address" name="address" ngModel value="" size="64" maxlength="255"
                          class="form-text form-control"
                          placeholder="{{'STUDENT.PROFILE-STREET' | translate}} {{'STUDENT.PROFILE-STATE' | translate}}"
                          [(ngModel)]="studentsSSOData[0].address" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-POSTCODE'
                        | translate}}
                      </label>
                      <div class="col-sm-10">
                        <input type="text" id="post_address" name="post_address" value="" size="5" maxlength="5"
                          class="form-text form-control"
                          placeholder="{{'STUDENT.PROFILE-POSTCODE' | translate}} {{'STUDENT.PROFILE-STATE' | translate}}"
                          ngModel [(ngModel)]="studentsSSOData[0].post_address" />
                      </div>
                    </div>
                    <div class="form-group row">
                      <label class="col-sm-2 col-form-label">{{'STUDENT.PROFILE-COUNTRY' |
                        translate}}
                      </label>
                      <div class="col-sm-10">
                        <select name="country" class="location_auto_country form-select ajax-processed" id="country"
                          ngModel [(ngModel)]="studentsSSOData[0].country">
                          <option value="xx">ΕΚΤΟΣ ΛΙΣΤΑΣ</option>
                          <option value="bl">Άγιος Βαρθολομαίος</option>
                          <option value="vc">
                            Άγιος Βικέντιος και Γρεναδίνες
                          </option>
                          <option value="sm">Άγιος Μαρίνος</option>
                          <option value="sx">Άγιος Μαρτίνος</option>
                          <option value="mf">Άγιος Μαρτίνος Γαλλίας</option>
                          <option value="kn">
                            Άγιος Χριστόφορος και Νέβις
                          </option>
                          <option value="eg">Αίγυπτος</option>
                          <option value="sh">Αγία Ελένη</option>
                          <option value="lc">Αγία Λουκία</option>
                          <option value="ao">Αγκόλα</option>
                          <option value="az">Αζερμπαϊτζάν</option>
                          <option value="et">Αιθιοπία</option>
                          <option value="ci">Ακτή Ελεφαντοστού</option>
                          <option value="al">Αλβανία</option>
                          <option value="dz">Αλγερία</option>
                          <option value="vi">
                            Αμερικανικές Παρθένοι Νήσοι
                          </option>
                          <option value="as">Αμερικανική Σαμόα</option>
                          <option value="tl">Ανατολικό Τιμόρ</option>
                          <option value="ai">Ανγκουίλα</option>
                          <option value="ad">Ανδόρρα</option>
                          <option value="ag">Αντίγκουα και Μπαρμπούντα</option>
                          <option value="aq">Ανταρκτική</option>
                          <option value="um">
                            Απομακρυσμένες Νησίδες των ΗΠΑ
                          </option>
                          <option value="ar">Αργεντινή</option>
                          <option value="am">Αρμενία</option>
                          <option value="aw">Αρούμπα</option>
                          <option value="at">Αυστρία</option>
                          <option value="au">Αυστραλία</option>
                          <option value="af">Αφγανιστάν</option>
                          <option value="ht">Αϊτή</option>
                          <option value="be">Βέλγιο</option>
                          <option value="vu">Βανουάτου</option>
                          <option value="va">Βατικανό</option>
                          <option value="ve">Βενεζουέλα</option>
                          <option value="bm">Βερμούδες</option>
                          <option value="vn">Βιετνάμ</option>
                          <option value="bo">Βολιβία</option>
                          <option value="ba">Βοσνία και Ερζεγοβίνη</option>
                          <option value="bg">Βουλγαρία</option>
                          <option value="br">Βραζιλία</option>
                          <option value="vg">Βρετανικές Παρθένοι Νήσοι</option>
                          <option value="io">
                            Βρετανικό Έδαφος Ινδικού Ωκεανού
                          </option>
                          <option value="kp">Βόρεια Κορέα</option>
                          <option value="mp">Βόρειες Μαριάνες Νήσοι</option>
                          <option value="fr">Γαλλία</option>
                          <option value="tf">Γαλλικά Νότια Εδάφη</option>
                          <option value="gf">Γαλλική Γουιάνα</option>
                          <option value="pf">Γαλλική Πολυνησία</option>
                          <option value="de">Γερμανία</option>
                          <option value="ge">Γεωργία</option>
                          <option value="gi">Γιβραλτάρ</option>
                          <option value="gm">Γκάμπια</option>
                          <option value="gh">Γκάνα</option>
                          <option value="gg">Γκέρνσεϊ</option>
                          <option value="ga">Γκαμπόν</option>
                          <option value="gu">Γκουαχάν</option>
                          <option value="gp">Γουαδελούπη</option>
                          <option value="gt">Γουατεμάλα</option>
                          <option value="gy">Γουιάνα</option>
                          <option value="gn">Γουινέα</option>
                          <option value="gw">Γουινέα-Μπισσάου</option>
                          <option value="gd">Γρενάδα</option>
                          <option value="gl">Γροιλανδία</option>
                          <option value="dk">Δανία</option>
                          <option value="cg">Δημοκρατία του Κονγκό</option>
                          <option value="do">Δομινικανή Δημοκρατία</option>
                          <option value="eh">Δυτική Σαχάρα</option>
                          <option value="sv">Ελ Σαλβαδόρ</option>
                          <option value="ch">Ελβετία</option>
                          <option value="gr" selected="selected">Ελλάδα</option>
                          <option value="er">Ερυθραία</option>
                          <option value="ee">Εσθονία</option>
                          <option value="zm">Ζάμπια</option>
                          <option value="zw">Ζιμπάμπουε</option>
                          <option value="ae">Ηνωμένα Αραβικά Εμιράτα</option>
                          <option value="us">
                            Ηνωμένες Πολιτείες της Αμερικής
                          </option>
                          <option value="gb">Ηνωμένο Βασίλειο</option>
                          <option value="jp">Ιαπωνία</option>
                          <option value="in">Ινδία</option>
                          <option value="id">Ινδονησία</option>
                          <option value="jo">Ιορδανία</option>
                          <option value="iq">Ιράκ</option>
                          <option value="ir">Ιράν</option>
                          <option value="ie">Ιρλανδία</option>
                          <option value="gq">Ισημερινή Γουινέα</option>
                          <option value="ec">Ισημερινός</option>
                          <option value="is">Ισλανδία</option>
                          <option value="es">Ισπανία</option>
                          <option value="il">Ισραήλ</option>
                          <option value="it">Ιταλία</option>
                          <option value="ke">Κένυα</option>
                          <option value="cn">Κίνα</option>
                          <option value="kz">Καζακστάν</option>
                          <option value="cm">Καμερούν</option>
                          <option value="kh">Καμπότζη</option>
                          <option value="ca">Καναδάς</option>
                          <option value="qa">Κατάρ</option>
                          <option value="cf">
                            Κεντροαφρικανική Δημοκρατία
                          </option>
                          <option value="kg">Κιργιζία</option>
                          <option value="ki">Κιριμπάτι</option>
                          <option value="co">Κολομβία</option>
                          <option value="km">Κομόρες</option>
                          <option value="cd">Κονγκό (Κινσάσα)</option>
                          <option value="kw">Κουβέιτ</option>
                          <option value="cw">Κουρασάο</option>
                          <option value="cu">Κούβα</option>
                          <option value="hr">Κροατία</option>
                          <option value="cr">Κόστα Ρίκα</option>
                          <option value="cy">Κύπρος</option>
                          <option value="la">Λάος</option>
                          <option value="lb">Λίβανος</option>
                          <option value="ls">Λεσότο</option>
                          <option value="lv">Λεττονία</option>
                          <option value="by">Λευκορωσία</option>
                          <option value="lr">Λιβερία</option>
                          <option value="ly">Λιβύη</option>
                          <option value="lt">Λιθουανία</option>
                          <option value="li">Λιχτενστάιν</option>
                          <option value="lu">Λουξεμβούργο</option>
                          <option value="ml">Μάλι</option>
                          <option value="mt">Μάλτα</option>
                          <option value="yt">Μαγιότ</option>
                          <option value="mg">Μαδαγασκάρη</option>
                          <option value="mo">Μακάου</option>
                          <option value="mw">Μαλάουι</option>
                          <option value="my">Μαλαισία</option>
                          <option value="mv">Μαλδίβες</option>
                          <option value="mq">Μαρτινίκα</option>
                          <option value="ma">Μαρόκο</option>
                          <option value="mu">Μαυρίκιος</option>
                          <option value="mr">Μαυριτανία</option>
                          <option value="me">Μαυροβούνιο</option>
                          <option value="mx">Μεξικό</option>
                          <option value="mm">Μιανμάρ</option>
                          <option value="fm">Μικρονησία</option>
                          <option value="mn">Μογγολία</option>
                          <option value="mz">Μοζαμβίκη</option>
                          <option value="md">Μολδαβία</option>
                          <option value="mc">Μονακό</option>
                          <option value="ms">Μοντσερράτ</option>
                          <option value="bd">Μπανγκλαντές</option>
                          <option value="bb">Μπαρμπάντος</option>
                          <option value="bs">Μπαχάμες</option>
                          <option value="bh">Μπαχρέιν</option>
                          <option value="bz">Μπελίζε</option>
                          <option value="bj">Μπενίν</option>
                          <option value="bw">Μποτσουάνα</option>
                          <option value="bf">Μπουρκίνα Φάσο</option>
                          <option value="bi">Μπουρούντι</option>
                          <option value="bt">Μπουτάν</option>
                          <option value="bn">Μπρουνέι</option>
                          <option value="nr">Ναουρού</option>
                          <option value="nz">Νέα Ζηλανδία</option>
                          <option value="nc">Νέα Καληδονία</option>
                          <option value="ax">Νήσοι Ώλαντ</option>
                          <option value="ck">Νήσοι Κουκ</option>
                          <option value="mh">Νήσοι Μάρσαλ</option>
                          <option value="gs">
                            Νήσοι Νότια Γεωργία και Νότιες Σάντουιτς
                          </option>
                          <option value="pn">Νήσοι Πίτκαιρν</option>
                          <option value="sb">Νήσοι Σολομώντα</option>
                          <option value="fo">Νήσοι Φερόες</option>
                          <option value="fk">Νήσοι Φώκλαντ</option>
                          <option value="hm">
                            Νήσοι Χερντ και Μακντόναλντ
                          </option>
                          <option value="im">Νήσος του Μαν</option>
                          <option value="ne">Νίγηρας</option>
                          <option value="na">Ναμίμπια</option>
                          <option value="np">Νεπάλ</option>
                          <option value="bv">Νησί Μπουβέ</option>
                          <option value="nf">Νησί Νόρφολκ</option>
                          <option value="cx">Νησί των Χριστουγέννων</option>
                          <option value="bq">Νησιά BES</option>
                          <option value="ky">Νησιά Καϋμάν</option>
                          <option value="cc">Νησιά Κόκος (Κήλινγκ)</option>
                          <option value="ng">Νιγηρία</option>
                          <option value="ni">Νικαράγουα</option>
                          <option value="nu">Νιούε</option>
                          <option value="no">Νορβηγία</option>
                          <option value="dm">Ντομίνικα</option>
                          <option value="za">Νότια Αφρική</option>
                          <option value="kr">Νότια Κορέα</option>
                          <option value="ss">Νότιο Σουδάν</option>
                          <option value="nl">Ολλανδία</option>
                          <option value="an">Ολλανδικές Αντίλλες</option>
                          <option value="om">Ομάν</option>
                          <option value="hn">Ονδούρα</option>
                          <option value="hu">Ουγγαρία</option>
                          <option value="ug">Ουγκάντα</option>
                          <option value="uz">Ουζμπεκιστάν</option>
                          <option value="ua">Ουκρανία</option>
                          <option value="uy">Ουρουγουάη</option>
                          <option value="wf">Ουώλις και Φουτούνα</option>
                          <option value="pk">Πακιστάν</option>
                          <option value="pw">Παλάου</option>
                          <option value="ps">Παλαιστίνη</option>
                          <option value="pa">Παναμάς</option>
                          <option value="pg">Παπούα Νέα Γουινέα</option>
                          <option value="py">Παραγουάη</option>
                          <option value="pe">Περού</option>
                          <option value="pl">Πολωνία</option>
                          <option value="pt">Πορτογαλία</option>
                          <option value="pr">Πουέρτο Ρίκο</option>
                          <option value="cv">Πράσινο Ακρωτήριο</option>
                          <option value="re">Ρεουνιόν</option>
                          <option value="rw">Ρουάντα</option>
                          <option value="ro">Ρουμανία</option>
                          <option value="ru">Ρωσία</option>
                          <option value="st">Σάο Τομέ και Πρίνσιπε</option>
                          <option value="pm">Σαιν Πιερ και Μικελόν</option>
                          <option value="ws">Σαμόα</option>
                          <option value="sa">Σαουδική Αραβία</option>
                          <option value="sj">Σβάλμπαρντ και Γιαν Μαγιέν</option>
                          <option value="sn">Σενεγάλη</option>
                          <option value="rs">Σερβία</option>
                          <option value="sc">Σεϋχέλλες</option>
                          <option value="sl">Σιέρα Λεόνε</option>
                          <option value="sg">Σιγκαπούρη</option>
                          <option value="mk">Σκόπια</option>
                          <option value="sk">Σλοβακία</option>
                          <option value="si">Σλοβενία</option>
                          <option value="so">Σομαλία</option>
                          <option value="sz">Σουαζιλάνδη</option>
                          <option value="sd">Σουδάν</option>
                          <option value="se">Σουηδία</option>
                          <option value="sr">Σουρινάμ</option>
                          <option value="lk">Σρι Λάνκα</option>
                          <option value="sy">Συρία</option>
                          <option value="tz">Τανζανία</option>
                          <option value="tj">Τατζικιστάν</option>
                          <option value="tw">Ταϊβάν</option>
                          <option value="th">Ταϊλάνδη</option>
                          <option value="tc">Τερκ και Κάικος</option>
                          <option value="je">Τζέρσεϊ</option>
                          <option value="jm">Τζαμάικα</option>
                          <option value="dj">Τζιμπουτί</option>
                          <option value="tk">Τοκελάου</option>
                          <option value="tv">Τουβαλού</option>
                          <option value="tr">Τουρκία</option>
                          <option value="tm">Τουρκμενιστάν</option>
                          <option value="tt">Τρινιδάδ και Τομπάγκο</option>
                          <option value="td">Τσαντ</option>
                          <option value="cz">Τσεχία</option>
                          <option value="tn">Τυνησία</option>
                          <option value="tg">Τόγκο</option>
                          <option value="to">Τόνγκα</option>
                          <option value="ye">Υεμένη</option>
                          <option value="ph">Φιλιππίνες</option>
                          <option value="fi">Φινλανδία</option>
                          <option value="fj">Φίτζι</option>
                          <option value="cl">Χιλή</option>
                          <option value="hk">Χονγκ Κονγκ</option>
                        </select>
                      </div>
                    </div>
                    <div class="form-group container-fluid row" style="width: 320px; margin: auto">
                      <div class="col-sm-6 profileButton">
                        <button type="submit" class="btn btn-primary" style="width: 120px; margin: auto">
                          {{'STUDENT.PROFILE-SAVE' | translate}}
                        </button>
                      </div>
                      <div class="col-sm-6">
                        <a (click)="studentContactForm.resetForm()" class="btn btn-secondary"
                          style="width: 120px; margin: auto">
                          {{'STUDENT.PROFILE-CANCEL' | translate}}
                        </a>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>