<h2 style="text-align:center;background:#224957 none repeat scroll 0% 0%"><span
    style="font-size:12.0pt;line-height:107%;color:white"><br><span style="font-size:18pt">Συχνές
      ερωτήσεις</span><br><br></span></h2>
<p> </p>
<table style="border-collapse:collapse;border:0px none #000000;width:100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><br>&nbsp;&nbsp; <span
              style="color:white">1. Πως αποστέλλω τα δικαιολογητικά;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Για να αποστείλετε δικαιολογητικά, πηγαίνετε στην επιθυμητή καρτέλα (σίτιση - στέγαση). Στην συνέχεια
          ακολουθήστε τα παρακάτω βήματα:</p>
        <ol style="list-style-type:decimal;margin-bottom:0px">
          <li>Κάνετε κλικ μέσα στη περιοχή με την ένδειξη
            ‘Κάντε κλικ εδώ για αναζήτηση’ και εμφανίζεται παράθυρο από το οποίο επιλέγετε το δικαιολογητικό. </li>
          <li>Κάνετε κλικ στο κουμπί ‘Ανέβασμα αρχείου’. Το επιλεγμένο δικαιολογητικό αποστέλλετε σε ψηφιακή
            μορφή.</li>
          <li>Κάνετε κλικ στο κουμπί ‘Προβολή αρχείου’ για να εμφανίσετε το αντίστοιχο δικαιολογητικό.</li>
        </ol>
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Με την επιτυχή αποστολή, εμφανίζεται δίπλα από το το κουμπί ‘Ανέβασμα αρχείου’ το σύμβολο <i
            class="fa fa-check" style="color: green;"></i>,
          που σημαίνει ότι το δικαιολογητικό της κατηγορίας
          υποβλήθηκε και μπορείτε να το εμφανίσετε.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;2. </strong>Πάνω από ένα δικαιολογητικά στην ίδια κατηγορία,
              πως τα αποστέλλω;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Για να αποστείλετε πολλαπλά δικαιολογητικά στην ίδια κατηγορία, πρέπει προηγούμενα να τα έχετε συγχωνεύσει
          όλα σε ένα και μόνο δικαιολογητικό σε μορφή pdf.</p><br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;3. </strong>Έχω αποστείλει δικαιολογητικό, πως μπορώ να το
              αντικαταστήσω;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Για να αντικαταστήσετε δικαιολογητικό, αποστείλετε εκ νέου, το καινούργιο δικαιολογητικό. Η εκ νέου αποστολή
          δικαιολογητικού, αντικαθιστά το υπάρχον εφόσον υπάρχει.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;4. </strong>Σε ποια μορφή πρέπει να είναι τα
              δικαιολογητικά;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Τα δικαιολογητικά αφού τα ψηφιοποιήσετε, πρέπει να είναι σε μορφή <strong> pdf</strong> έως 4 mb.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;5. </strong>Ποιο είναι το μεγαλύτερο επιτρεπτό μέγεθος ενός
              δικαιολογητικού;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Το κάθε ένα δικαιολογητικό που αποστέλλετε δεν πρέπει να ξεπερνά σε μέγεθος τα <strong>4 MB.</strong></p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;6. </strong>Χρειάζεται να προσκομίσω τα δικαιολογητικά στο
              Τμήμα
              Φοιτητικής Μέριμνας;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Δεν χρειάζεται να προσκομίσετε στο Τμήμα Φοιτητικής Μέριμνας τα δικαιολογητικά σε έντυπη μορφή.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;7. </strong>Έχω αποστείλει τα δικαιολογητικά σε ψηφιακή
              μορφή, τι κάνω
              τα με τα έντυπα δικαιολογητικά;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Τα έντυπα δικαιολογητικά θα τα κρατήσετε και θα τα προσκομίσετε στο Τμήμα Φοιτητικής Μέριμνας αν σας ζητηθεί
          από την Υπηρεσία.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;8. </strong>Τι σημαίνει το εικονίδιο <i class="fa fa-check"
                style="color: white;"></i> </span></strong></p>
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><br></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Η εμφάνιση του εικονιδίου <i class="fa fa-check" style="color: green;"></i>, σημαίνει ότι <strong>έχετε
            αποστείλει το συνοδευτικό έγγραφο</strong> σε ψηφιακή μορφή.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;9. </strong>Πως μπορώ να εμφανίσω, δικαιολογητικό που έχω
              αποστείλει;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Εάν εμφανίζεται το εικονίδιο <i class="fa fa-check" style="color: green;"></i> ότι έχει υποβληθεί το
          δικαιολογητικό, κάνετε κλικ στο σύνδεσμο ‘Προβολή αρχείου’. </p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;10. </strong>Πως συμπληρώνω τον αριθμό των προστατευόμενων
              τέκνων της
              οικογένειας;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Ο αριθμός των προστατευόμενων τέκνων πρέπει να είναι ο ίδιος που αναγράφεται στην υποβληθείσα φορολογική
          δήλωση.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#32677c none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:white"><br><strong>&nbsp;&nbsp;11. </strong>Πως θέτω μια ερώτηση προς το γραφείο φοιτητικής
              μέριμνας;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Στο αριστερό μενού πατάτε στην επιλογή ερώτηση προς Υπεύθυνο. Εδώ μπορείτε να δέιτε και τα προηγούμενα
          ερωτήματα που έχετε υποβάλει προς το γραφείο φοιτητικής
          μέριμνας.</p>
        <br>
      </td>
    </tr>
  </tbody>
</table>