<h2 style="text-align:center;background:#ffc000 none repeat scroll 0% 0%"><span
    style="font-size:12.0pt;line-height:107%;color:#002060"><br><span style="font-size:18pt">Συχνές
      ερωτήσεις</span><br><br></span></h2>
<p> </p>
<table style="border-collapse:collapse;border:0px none #000000;width:100%" cellspacing="0" cellpadding="0">
  <tbody>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><br>&nbsp;&nbsp;1. Πως <span
              style="color:black">αποστέλλω τα δικαιολογητικά;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Για να αποστείλετε προαιρετικά δικαιολογητικά, πρέπει πρώτα να επιλέξτε τη κατηγορία του δικαιολογητικού (η
          κατηγορία των υποχρεωτικών δικαιολογητικών είναι ήδη προεπιλεγμένη). Στη συνέχεια:</p>
        <ol style="list-style-type:decimal;margin-bottom:0px">
          <li>Κάνετε κλικ μέσα στη περιοχή με την ένδειξη <img alt=""> ή κάνετε κλικ στο κουμπί με την ένδειξη
            ‘Αναζήτηση…’, εμφανίζεται παράθυρο από το οποίο επιλέγετε το δικαιολογητικό. </li>
          <li>Κάνετε κλικ στο σύνδεσμο <img alt=""> ‘Αποστολή’. Το επιλεγμένο δικαιολογητικό αποστέλλετε σε ψηφιακή
            μορφή.</li>
          <li>Κάνετε κλικ στο σύνδεσμο ‘Προβολή’ για να εμφανίσετε το αντίστοιχο δικαιολογητικό.</li>
        </ol>
        <p><img alt=""><br></p>
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Με την επιτυχή αποστολή, το εικονίδιο αλλάζει σε νέο, που σημαίνει ότι το δικαιολογητικό της κατηγορίας
          υποβλήθηκε και μπορείτε να το εμφανίσετε.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;2. </strong>Πάνω από ένα δικαιολογητικά στην ίδια κατηγορία,
              πως τα αποστέλλω;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Για να αποστείλετε πολλαπλά δικαιολογητικά στην ίδια κατηγορία, πρέπει προηγούμενα να τα έχετε συγχωνεύσει
          όλα σε ένα και μόνο δικαιολογητικό σε μορφή pdf.</p><br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;3. </strong>Έχω αποστείλει δικαιολογητικό, πως μπορώ να το
              αντικαταστήσω;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Για να αντικαταστήσετε δικαιολογητικό, αποστείλετε εκ νέου, το καινούργιο δικαιολογητικό. Η εκ νέου αποστολή
          δικαιολογητικού, αντικαθιστά το υπάρχον εφόσον υπάρχει.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;4. </strong>Πως διαγράφω πλήρως δικαιολογητικό χωρίς να
              αποστείλω εκ
              νέου, νέο;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Από-επιλέγετε, την κατηγορία την οποία έχετε ήδη επιλέξει και αποστείλει το δικαιολογητικό. Ταυτόχρονα με
          την από-επιλογή της προαιρετικής κατηγορίας, διαγράφεται και το δικαιολογητικό.</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;5. </strong>Σε ποια μορφή πρέπει να είναι τα
              δικαιολογητικά;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Τα δικαιολογητικά αφού τα ψηφιοποιήσετε, πρέπει να είναι σε μορφή pdf</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;5. </strong>Ποιο είναι το μεγαλύτερο επιτρεπτό μέγεθος ενός
              δικαιολογητικού;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Το κάθε ένα δικαιολογητικό που αποστέλλετε δεν πρέπει να ξεπερνά σε μέγεθος τα 4 ΜΒ</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;6. </strong>Χρειάζεται να προσκομίσω τα δικαιολογητικά στο
              Τμήμα
              Φοιτητικής Μέριμνας;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Δεν χρειάζεται να προσκομίσετε στο Τμήμα Φοιτητικής Μέριμνας τα δικαιολογητικά σε έντυπη μορφή</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;7. </strong>Έχω αποστείλει τα δικαιολογητικά σε ψηφιακή
              μορφή, τι κάνω
              τα με τα έντυπα δικαιολογητικά;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Τα έντυπα δικαιολογητικά θα τα κρατήσετε και θα τα προσκομίσετε στο Τμήμα Φοιτητικής Μέριμνας όταν ζητηθεί
          από την Υπηρεσία</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;8. </strong>Τι σημαίνει το εικονίδιο </span></strong><img
            alt=""><br><br>
        </p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Η εμφάνιση του εικονιδίου, σημαίνει ότι έχετε επιλέξει το αντίστοιχο δικαιολογητικό, <strong>δεν έχετε όμως
            αποστείλει το συνοδευτικό έγγραφο</strong> σε ψηφιακή μορφή</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;9. </strong>Τι σημαίνει το εικονίδιο </span></strong><img
            alt=""></p>
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><br></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Η εμφάνιση του εικονιδίου, σημαίνει ότι έχετε επιλέξει το αντίστοιχο δικαιολογητικό, <strong>έχετε
            αποστείλει το συνοδευτικό έγγραφο</strong> σε ψηφιακή μορφή</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;10. </strong>Πως μπορώ να εμφανίσω, δικαιολογητικό που έχω
              αποστείλει;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Εάν εμφανίζεται το εικονίδιο ότι έχει υποβληθεί το δικαιολογητικό, κάνετε κλικ στο σύνδεσμο ‘Προβολή’ </p>
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          <img alt=""></p>
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          <br></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;11. </strong>Πως συμπληρώνω τον αριθμό των προστατευόμενων
              τέκνων της
              οικογένειας;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Ο αριθμός των προστατευόμενων τέκνων πρέπει να είναι ο ίδιος που αναγράφεται στην υποβληθείσα φορολογική
          δήλωση</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;12. </strong>Πάτησα το κουμπί ‘Αποθήκευση’ και δεν
              εμφανίστηκε μήνυμα
              επιτυχούς υποβολής;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Ελέγξτε το περιεχόμενο της αίτησης και βεβαιωθείτε ότι έχουν συμπληρωθεί όλα τα υποχρεωτικά στοιχεία.</p>
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal">Δοκιμάστε να κάνετε εκτύπωση της
          αίτησης, εάν εμφανιστεί τότε η υποβολή έχει γίνει, διαφορετικά αποστείλατε ερώτημα στη τεχνική υποστήριξη
        </p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;13. </strong>Στην εκτύπωση της αίτησης δεν εμφανίζεται
              αριθμός υποβολής
              και ημερομηνία υποβολής<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Ο αριθμός υποβολής και η ημερομηνία υποβολής, εμφανίζεται μετά τον έλεγχο της αίτησης από το Τμήμα
          Φοιτητικής Μέριμνας, είτε έχει εγκριθεί είτε έχει απορριφθεί.</p>
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal">Επανέλθετε αργότερα και τα στοιχεία
          υποβολής, αριθμός και ημερομηνία, εμφανίζονται</p>
        <br>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt;background:#ffe599 none repeat scroll 0% 0%" width="553" valign="top">
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><strong><span
              style="color:black"><br><strong>&nbsp;&nbsp;14. </strong>Γιατί δεν μπορώ να διαγράψω ερώτημα που έχω
              αποστείλει;<br><br></span></strong></p>
      </td>
    </tr>
    <tr>
      <td style="width:414.8pt" width="553" valign="top">
        <p
          style="margin-top:6.0pt;margin-right:0cm;margin-bottom:0cm;margin-left:0cm;margin-bottom:.0001pt;line-height:normal">
          Ερώτημα μπορείτε να το διαγράψετε, εφόσον δεν έχει απαντηθεί ακόμα.</p>
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal">Ερωτήματα τα οποία έχουν απαντηθεί, δεν
          επιτρέπεται η διαγραφή τους. </p>
        <p style="margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal"><br></p>
      </td>
    </tr>
  </tbody>
</table>
