  <footer class="main-footer">
    <div class="m-auto" style="width: 25%; border-radius:20px;">
      <img src="./assets/images/espaImage2.jpg" style="min-width: 0px; width: 100%; border-radius: 6px;" />
    </div>
    <strong>Copyright &copy; {{currentYear}}
      <!-- <a href="https://praktiki.uop.gr/" target="_blank">praktiki.uop.gr</a>.</strong> -->
      <a>praktiki</a>.</strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block"><b>Version</b> 0.1</div>
  </footer>
