<div class="v3_60">
  <app-home-header></app-home-header>
</div>

<uop-loading-screen *ngIf="isLoading"></uop-loading-screen>
<!-- <mat-spinner color="accent" diameter="40" *ngIf="isLoading"> -->
<!-- </mat-spinner> -->
<div id="content" class="generic-login-content mt-4" role="main" id="a1">
  <div *ngIf="!isLoading" id="main-terms-div">
    <div class="mt-0 container" style="max-width:400px;margin:auto;">
      <form class="signup-form login-option">
        <h2 class="mb-1">{{'HOME.STUDENT-LOGIN' | translate}}</h2>
        <!-- <p>Συμπληρώστε τα παρακάτω για να συνεχίσετε!</p> -->
        <hr>
        <div class="mt-4 form-group">
          <!-- <label for="exampleInputEmail1">Όνομα Χρήστη</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-user"></span>
              </span>
            </div>
            <input #username type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
              id="username" name="username" placeholder="{{'HOME.USERNAME' | translate}}" required="required">
          </div>
        </div>

        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock"></i>
              </span>
            </div>
            <input (keyup.enter)="submitOnEnter()" #password type="password" class="form-control" id="password"
              name="password" placeholder="{{'HOME.PASSWORD' | translate}}" required="required">
            <i class="fa fa-eye" (click)="passwordToggle()" id="togglePassword"></i>
          </div>
        </div>
        <div class="grid-container">
          <div class="form-check below-form-buttons">
            <input type="checkbox" (click)="rememberMe()" class="form-check-input cursor-pointer" id="rememberMe">
            <label class="form-check-label" for="rememberMe">Remember me</label>
          </div>
          <div class="hr-divider"></div>
          <button class="forgot-password" type="button" [routerLink]="['/password-reset']">Forgot password?</button>
        </div>
        <div class="grid-container">
          <button type="button" [routerLink]="['/']"
            class="mt-2 btn btn-secondary">{{'HOME.BACK-BTN' | translate}}</button>
          <div class="hr-divider"></div>
          <button type="submit" (click)="login()"
            class="mt-2 btn btn-primary">{{'HOME.SUBMIT-BTN' | translate}}</button>
        </div>
        <!-- <hr> -->
        <button class="mb-0 mt-2 to-signup-btn btn-primary col-12"
          [routerLink]="['/credentials-generic-signup']">Δημιουργία
          λογαριασμού
        </button>
      </form>
    </div>
  </div>
</div>
