<div class="box">
  <form id="ssoLoginForm" ngNativeValidate #ssoLoginForm="ngForm" class="signup-form login-option"
    (ngSubmit)="onSSOLogin(ssoLoginForm.value)">
    <div class="container" style="max-width: 350px">
      <div class="row" style="width: 400px">
        <div class="col-2">
          <img id="uopLogo" src="../../../assets/images/pelopas.png" class="uop-logo-blue">
        </div>
        <div class="col-10 p-2 pl-3 ml-4 text-left" style="max-width: 280px">
          <h2>{{ "STUDENT.FOOTER" | translate }}</h2>
        </div>
      </div>
      <mat-divider></mat-divider>
    </div>
    <h1 class="main-heading p-2">
      {{ "HOME.TITLE" | translate }}
    </h1>
    <span class="minor-heading font-italic"> {{"HOME.LOGIN-TEXT" | translate}} </span>
    <br>
    <br>
    <a class="text-success" href="http://foitmer.uop.gr/epikoinonia/" target="_blank"> {{'HOME.CONTACT' |
      translate}}</a>
    <br>
    <br>
    <section class="example-section">
      <div>
        {{'HOME.SEE_TERMS' | translate}}
        <a class="terms-anchor" (click)="openDialog()">{{'HOME.TERMS' | translate}}</a>
        {{'HOME.PLATFORM' | translate}}<span class="text-danger">&nbsp;</span>
      </div>
    </section>
    <br>
    <button class="btn-student">
      {{ "HOME.ENTER" | translate }}
    </button>
  </form>
</div>
