* {
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-size: 14px;
}

.minor-heading {
  width: 197px;
  color: rgba(34, 73, 87, 1);
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 18px;
  text-align: center;
}

.main-heading {
  max-width: 449px;
  color: rgba(34, 73, 87, 1);
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 36px;
}


button {
  border: none;
  background: none;
}

button:active {
  opacity: 0.7;
}

.btn-student {
  width: 200px;
  height: 60px;
  color: rgba(255, 255, 255, 1);
  background: rgba(34, 73, 87, 1);
  font-family: Lexend Deca;
  font-weight: Regular;
  font-size: 30px;
  border-radius: 10px;
  text-align: center;
}

.box {
  margin-top: 100px;
  border: 1px solid #f0f0f0;
  border-radius: 25px;
  padding: 20px;
  box-shadow: 5px 5px 5px #f0f0f0;
  background-color: white;
}

.terms-anchor {
  color: rgb(247, 53, 53);
  cursor: pointer;
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
  background-color: rgb(4, 189, 4);
}

::ng-deep .dark-mode .box {
  background: linear-gradient(45deg, rgb(65, 104, 111), rgb(75, 131, 141));
  border: 1px solid rgb(75, 131, 141);
  box-shadow: 5px 5px 5px rgb(65, 104, 104);
}

::ng-deep .dark-mode .mat-divider {
  border-top-color: rgba(255, 255, 255, 1);
}

::ng-deep .dark-mode .main-heading {
  color: rgba(255, 255, 255, 1);
}

::ng-deep .dark-mode .minor-heading {
  color: rgba(255, 255, 255, 1);
}

@media only screen and (max-width: 1600px) {
  .main-heading {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1601px) {
  .main-heading {
    font-size: 34px;
  }
}

.uop-logo-blue {
  width: 94px;
  height: 91px;
}

@media only screen and (max-width: 1601px) {
  .uop-logo-blue {
    width: 80px;
    height: 77.5px;
  }
}