<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{'STUDENT.APPLICATION-TITLE' | translate}}</h1>
      </div>
    </div>
  </div>
</section>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="application">
    <th mat-header-cell *matHeaderCellDef> {{'STUDENT.APPLICATION-TITLE1' | translate}} </th>
    <td mat-cell *matCellDef="let element">
      <i *ngIf="element.application_type=='meals'"> {{'HOME.PURPOSE-LI2' | translate}}</i>
      <i *ngIf="element.application_type=='accommodation'"> {{'HOME.PURPOSE-LI3' | translate}}</i>
    </td>
  </ng-container>
  <ng-container matColumnDef="applicationNumber">
    <th mat-header-cell *matHeaderCellDef> {{'STUDENT.APPLICATION-NUMBER' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef> {{'STUDENT.APPLICATION-DATE' | translate}} </th>
    <td mat-cell *matCellDef="let element"> {{element.submit_date}} </td>
  </ng-container>
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> {{'STUDENT.APPLICATION-ACTIONS' | translate}} </th>
    <td mat-cell *matCellDef="let element; let idx=index" [attr.data-index]="idx">
      <!-- <i class="fa fa-eye"></i> {{'STUDENT.APPLICATION-SHOW' | translate}} <br> -->
      <button style="all: unset; cursor: pointer;" (click)="printToPdf(idx)">
        <i class="fa fa-print"></i> {{'STUDENT.APPLICATION-PRINT' | translate}}
        {{element.actions}}
      </button>
    </td>
  </ng-container>
  <ng-container matColumnDef="status">
    <th mat-header-cell *matHeaderCellDef> {{'STUDENT.APPLICATION-STATUS' | translate}} </th>
    <td mat-cell *matCellDef="let element">
      <i *ngIf="element.status==0" class="fa fa-cog">
        {{'STUDENT.APPLICATION-STATUS1' | translate}}</i>
      <i *ngIf="element.status==1" class="fa fa-check"> {{'STUDENT.APPLICATION-STATUS2' | translate}} </i>
      <i *ngIf="element.status==-1" class="fa fa-times"> {{'STUDENT.APPLICATION-STATUS3' | translate}} </i>
    </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>