table {
  width: 100%;
}

/* dark mode */
::ng-deep .dark-mode .mat-cell {
  color: #fff;
  border-color: rgb(175, 173, 173);
}

::ng-deep .dark-mode .mat-header-cell {
  color: #fff;
  border-color: #fff;
  font-weight: 900;
}

::ng-deep .dark-mode .mat-table {
  background-color: #343a40;
}

i {
  font-style: normal;
}

.mat-header-cell {
  font-weight: 900;
}