<div class="dialog">
    <h2 mat-dialog-title>{{'HOME.TERMS1' | translate}}</h2>
    <mat-dialog-content class="mat-typography">
        <h3>
            <p>{{'HOME.TERMS2' | translate}}</p>
        </h3>
        <p>{{'HOME.TERMS3' | translate}}</p>
        <p>{{'HOME.TERMS4' | translate}}</p>
        <p>{{'HOME.TERMS5' | translate}}</p>
        <p>{{'HOME.TERMS6' | translate}}</p>
        <p>{{'HOME.TERMS7' | translate}}</p>
        <p>{{'HOME.TERMS8' | translate}}</p>
        <p>{{'HOME.TERMS9' | translate}}</p>
        <p>{{'HOME.TERMS10' | translate}}</p>
        <p>{{'HOME.TERMS11' | translate}}</p>
        <p>{{'HOME.TERMS12' | translate}}</p>
        <p>{{'HOME.TERMS13' | translate}}</p>
        <p>{{'HOME.TERMS14' | translate}}</p>
        <br>
        <div class="revision">
            <p>{{'HOME.TERMS-DATE' | translate}}</p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions style='justify-content: flex-end;'>
        <button mat-button class="btn btn-primary mat-button" (click)="onCancel()"> {{'HOME.TERMS-READ' | translate}}
        </button>
    </mat-dialog-actions>
</div>