<div class="dialog">
    <h2 mat-dialog-title>{{'HOME.TERMS1' | translate}}</h2>
    <mat-dialog-content class="mat-typography">
        <h3>
            <p>{{'HOME.TERMS2' | translate}}</p>
        </h3>
        <p>{{'HOME.TERMS3' | translate}}</p>
        <p>{{'HOME.TERMS4' | translate}}</p>
        <p>{{'HOME.TERMS5' | translate}}</p>
        <p>{{'HOME.TERMS6' | translate}}</p>
        <p>{{'HOME.TERMS7' | translate}}</p>
        <p>{{'HOME.TERMS8' | translate}}</p>
        <p>{{'HOME.TERMS9' | translate}}</p>
        <p>{{'HOME.TERMS10' | translate}}</p>
        <p>{{'HOME.TERMS11' | translate}}</p>
        <p>{{'HOME.TERMS12' | translate}}</p>
        <p>{{'HOME.TERMS13' | translate}}</p>
        <p>{{'HOME.TERMS14' | translate}}</p>
        <br>
        <h2 mat-dialog-title>{{'HOME.TERMS15' | translate}}</h2>
        <p>{{'HOME.TERMS16' | translate}}</p>
        <p><strong>{{'HOME.TERMS17' | translate}}</strong></p>
        <p>{{'HOME.TERMS18' | translate}}</p>
        <p><strong>{{'HOME.TERMS19' | translate}}</strong></p>
        <p>{{'HOME.TERMS20' | translate}}</p>
        <p><strong>{{'HOME.TERMS21' | translate}}</strong></p>
        <p>{{'HOME.TERMS22' | translate}}</p>
        <p><strong>{{'HOME.TERMS23' | translate}}</strong></p>
        <p>{{'HOME.TERMS24' | translate}}</p>
        <p><strong>{{'HOME.TERMS25' | translate}}</strong></p>
        <p>{{'HOME.TERMS26' | translate}}</p>
        <p><strong>{{'HOME.TERMS27' | translate}}</strong></p>
        <p>{{'HOME.TERMS28' | translate}}</p>
        <p><strong>{{'HOME.TERMS29' | translate}}</strong></p>
        <p>{{'HOME.TERMS30' | translate}}</p>
        <p><strong>{{'HOME.TERMS31' | translate}}</strong></p>
        <p>{{'HOME.TERMS32' | translate}}</p>
        <p>{{'HOME.TERMS33' | translate}}</p>
        <p>{{'HOME.TERMS34' | translate}}</p>
        <p>{{'HOME.TERMS35' | translate}}</p>
        <p>{{'HOME.TERMS36' | translate}}</p>
        <p>{{'HOME.TERMS37' | translate}}</p>
        <p>{{'HOME.TERMS38' | translate}} <strong>(dpo@uop.gr)</strong>. {{'HOME.TERMS39' | translate}} <strong>(
                www.dpa.gr, 210.6475.600)</strong>.</p>
        <div class="revision">
            <p>{{'HOME.TERMS-DATE' | translate}}</p>
        </div>
    </mat-dialog-content>
    <mat-dialog-actions style='justify-content: flex-end;'>
        <button mat-button class="btn btn-primary mat-button" (click)="onCancel()"> {{'HOME.TERMS-READ' | translate}}
        </button>
    </mat-dialog-actions>
</div>