<section class="content">
  <h2>Σχετικά</h2>
  <p>Η εφαρμογή αυτή υλοποιήθηκε υπό την αιγίδα του ΕΣΠΑ 2014-2021</p>
  <img src="../assets/images/espaImage.jpg" />

  <div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12">
      <div class="panel">
        <div class="panel-body">
          <div>
            <label>Όνομα Ιδρύματος - Οργανισμού:&nbsp;</label
            ><a href="http://www.uop.gr/" target="_blank" class="mainpage"
              >Πανεπιστήμιο Πελοποννήσου</a
            >
          </div>
          <div><label>Όνομα Πλατφόρμας:&nbsp;</label>praktiki.uop.gr&nbsp;</div>
          <div>
            <label>Έκδοση:&nbsp;</label>
            <a href="http://www.praktikiuop.gr/" title="Open praktiki Portal" target="_blank">&laquo;Open Praktiki 0.1.0&raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
