<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>{{'STUDENT.HOUSING-TITLE' | translate}}</h1>
      </div>
      <div class="col-sm-6">
      </div>
    </div>
  </div>
</section>
<div class="alert alert-danger pb-0" role="alert">
  <ul>
    <li>{{'STUDENT.HOUSING-DANGER1' | translate}}</li>
    <li>{{'STUDENT.HOUSING-DANGER2' | translate}}</li>
  </ul>
</div>
<button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
  {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
</button>
<mat-stepper orientation="horizontal" [linear]="isLinear" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form class="mt-4 center" [formGroup]="firstFormGroup">
      <ng-template matStepLabel>{{'STUDENT.HOUSING-INFO' | translate}}</ng-template>
      <mat-form-field class="mr-2 w-25" appearance="fill">
        <mat-label>{{'STUDENT.HOUSING-INFO1' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO1' | translate}}" [ngModel]="studentsSSOData[0]?.givenname"
          formControlName="nameCtrl" readonly>
      </mat-form-field>
      <mat-form-field class="w-25" appearance="fill">
        <mat-label>{{'STUDENT.HOUSING-INFO2' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO2' | translate}}" [ngModel]="studentsSSOData[0]?.sn"
          formControlName="surnameCtrl" readonly>
      </mat-form-field><br>
      <mat-form-field class="mr-2 w-25">
        <mat-label>{{'STUDENT.HOUSING-INFO3' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO3' | translate}}"
          [ngModel]="studentsSSOData[0]?.father_name" formControlName="fatherNameCtrl" required>
      </mat-form-field>
      <mat-form-field class="w-25" appearance="fill">
        <mat-label>{{'STUDENT.HOUSING-INFO4' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO4' | translate}}" formControlName="firstCtrl" readonly>
      </mat-form-field>
      <mat-form-field class="w-50" appearance="fill">
        <mat-label>{{'STUDENT.HOUSING-INFO5' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO5' | translate}}" formControlName="firstCtrl" readonly>
      </mat-form-field><br>
      <mat-form-field class="w-50">
        <mat-label>{{'STUDENT.HOUSING-INFO6' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO7' | translate}}" readonly>
        <mat-select required>
          <mat-option value="option1">Option 1</mat-option>
          <mat-option value="option2">Option 2</mat-option>
          <mat-option value="option3">Option 3</mat-option>
        </mat-select>
      </mat-form-field><br>
      <mat-form-field class="mr-2 w-25">
        <mat-label>{{'STUDENT.HOUSING-INFO8' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO8' | translate}}" formControlName="firstCtrl" required>
      </mat-form-field>
      <mat-form-field class="w-25">
        <mat-label>{{'STUDENT.HOUSING-INFO9' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INFO9' | translate}}" formControlName="firstCtrl" required>
      </mat-form-field><br>
      <mat-form-field class="w-25" appearance="fill">
        <mat-label>{{'STUDENT.HOUSING-INF10' | translate}}</mat-label>
        <input matInput placeholder="{{'STUDENT.HOUSING-INF10' | translate}}" formControlName="firstCtrl" readonly>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>{{'STUDENT.HOUSING-INF11' | translate}}</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form class="mt-4" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{'STUDENT.HOUSING-INF12' | translate}}</ng-template>
      <ul>
        <li>
          {{'STUDENT.HOUSING-INF13' | translate}} <span class="font-weight-bold">{{'STUDENT.HOUSING-INF14' | translate}}
          </span> <br>
          <span class="font-italic">
            {{'STUDENT.HOUSING-INFSTATIC' | translate}}
          </span>
          <i class="fa fa-info-circle fa-lg fa-icon" data-toggle="tooltip" data-placement="top"
            title="{{'STUDENT.HOUSING-INFSTATIC2' | translate}}">
          </i>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'STUDENT.HOUSING-INFSTATIC1' | translate}}</mat-label>
            <ngx-mat-file-input (change)="validateFiles('ssnFile')" formControlName="ssnFile">
            </ngx-mat-file-input>
          </mat-form-field>
        </li>
        <br>
        <li>
          {{'STUDENT.HOUSING-INF15' | translate}} <span class="font-weight-bold">{{'STUDENT.HOUSING-INF16' | translate}}
          </span> <br>
          <span class="font-italic">
            {{'STUDENT.HOUSING-INFSTATIC' | translate}}
          </span>
          <i class="fa fa-info-circle fa-lg fa-icon" data-toggle="tooltip" data-placement="top"
            title="{{'STUDENT.HOUSING-INFSTATIC2' | translate}}">
          </i>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'STUDENT.HOUSING-INFSTATIC1' | translate}}</mat-label>
            <ngx-mat-file-input (change)="validateFiles('ssnFile')" formControlName="ssnFile">
            </ngx-mat-file-input>
          </mat-form-field>
        </li>
        <br>
        <li>
          <span class="font-weight-bold">{{'STUDENT.HOUSING-INF18' | translate}} </span>
          {{'STUDENT.HOUSING-INF19' | translate}}
          <span class="font-weight-bold">
            {{'STUDENT.HOUSING-INF20' | translate}} </span>
          {{'STUDENT.HOUSING-INF17' | translate}}
          <br>
          <span class="font-italic">
            {{'STUDENT.HOUSING-INFSTATIC' | translate}}
          </span>
          <i class="fa fa-info-circle fa-lg fa-icon" data-toggle="tooltip" data-placement="top"
            title="{{'STUDENT.HOUSING-INFSTATIC2' | translate}}">
          </i>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'STUDENT.HOUSING-INFSTATIC1' | translate}}</mat-label>
            <ngx-mat-file-input (change)="validateFiles('ssnFile')" formControlName="ssnFile">
            </ngx-mat-file-input>
          </mat-form-field>
        </li>
        <br>
        <li>
          {{'STUDENT.HOUSING-INF15' | translate}}
          <span class="font-weight-bold">{{'STUDENT.HOUSING-INF21' | translate}}</span>
          {{'STUDENT.HOUSING-INF22' | translate}}
          <span class="font-weight-bold">{{'STUDENT.HOUSING-INF23' | translate}}</span>
          {{'STUDENT.HOUSING-INF17' | translate}}
          {{'STUDENT.HOUSING-INF24' | translate}}
          <br>
          <span class="font-italic">
            {{'STUDENT.HOUSING-INFSTATIC' | translate}}
          </span>
          <i class="fa fa-info-circle fa-lg fa-icon" data-toggle="tooltip" data-placement="top"
            title="{{'STUDENT.HOUSING-INFSTATIC2' | translate}}">
          </i>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'STUDENT.HOUSING-INFSTATIC1' | translate}}</mat-label>
            <ngx-mat-file-input (change)="validateFiles('ssnFile')" formControlName="ssnFile">
            </ngx-mat-file-input>
          </mat-form-field>
        </li>
        <br>
        <li>
          <span class="font-weight-bold">{{'STUDENT.HOUSING-INF25' | translate}}</span>
          {{'STUDENT.HOUSING-INF26' | translate}}
          <br>
          <a href="src=../../../assets/images/n1599.pdf" target="_blank">{{'STUDENT.HOUSING-INF27' | translate}}</a>
          <br>
          <span class="font-italic">
            {{'STUDENT.HOUSING-INFSTATIC' | translate}}
          </span>
          <i class="fa fa-info-circle fa-lg fa-icon" data-toggle="tooltip" data-placement="top"
            title="{{'STUDENT.HOUSING-INFSTATIC2' | translate}}">
          </i>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'STUDENT.HOUSING-INFSTATIC1' | translate}}</mat-label>
            <ngx-mat-file-input (change)="validateFiles('ssnFile')" formControlName="ssnFile">
            </ngx-mat-file-input>
          </mat-form-field>
        </li>
        <br>
        <li>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'STUDENT.HOUSING-INF28' | translate}}</mat-label>
            <input matInput placeholder="{{'STUDENT.HOUSING-INF28' | translate}}" readonly>
            <mat-select required>
              <mat-option value="option1">{{'STUDENT.HOUSING-INF29' | translate}}</mat-option>
              <mat-option value="option2">{{'STUDENT.HOUSING-INF30' | translate}}</mat-option>
              <mat-option value="option3">{{'STUDENT.HOUSING-INF31' | translate}}</mat-option>
              <mat-option value="option4">{{'STUDENT.HOUSING-INF32' | translate}}</mat-option>
              <mat-option value="option5">{{'STUDENT.HOUSING-INF33' | translate}}</mat-option>
            </mat-select>
          </mat-form-field>
        </li>
      </ul>
      <div>
        <button mat-button matStepperPrevious>{{'STUDENT.HOUSING-BACK' | translate}}</button>
        <button mat-button matStepperNext>{{'STUDENT.HOUSING-INF11' | translate}}</button>
      </div>
    </form>
  </mat-step>


  <mat-step [stepControl]="secondFormGroup">
    <form class="mt-4" [formGroup]="secondFormGroup">
      <ng-template matStepLabel>{{'STUDENT.HOUSING-INF34' | translate}}</ng-template>
      <ul>
        <li>
          {{'STUDENT.HOUSING-INF35' | translate}}
          <br>
          <span class="font-weight-bold">{{'STUDENT.HOUSING-INF36' | translate}}
          </span> <br>
          <span class="font-weight-bold">{{'STUDENT.HOUSING-INF37' | translate}}
          </span>
          {{'STUDENT.HOUSING-INF38' | translate}}
          <br>
          <span class="font-italic">
            {{'STUDENT.HOUSING-INFSTATIC' | translate}}
          </span>
          <i class="fa fa-info-circle fa-lg fa-icon" data-toggle="tooltip" data-placement="top"
            title="{{'STUDENT.HOUSING-INFSTATIC2' | translate}}">
          </i>
          <mat-form-field class="w-100" appearance="fill">
            <mat-label>{{'STUDENT.HOUSING-INFSTATIC1' | translate}}</mat-label>
            <ngx-mat-file-input (change)="validateFiles('ssnFile')" formControlName="ssnFile">
            </ngx-mat-file-input>
          </mat-form-field>
        </li>
        <br>
      </ul>
      <div>
        <button mat-button matStepperPrevious>{{'STUDENT.HOUSING-BACK' | translate}}</button>
        <button mat-button matStepperNext>{{'STUDENT.HOUSING-INF11' | translate}}</button>
      </div>
    </form>
  </mat-step>



  <!--
  <mat-step [stepControl]="specialDataFormGroup">
    <form [formGroup]="specialDataFormGroup">
      <ng-template matStepLabel>Ειδικά στοιχεία</ng-template>
      <p class="pt-2 pb-0 mb-0"> Ανήκω σε: Άτομα με Αναπηρίες (ΑμεΑ) κατηγορίας 5</p>
      <mat-form-field class="mr-2" appearance="fill">
        <mat-label>Επιλέξτε</mat-label>
        <mat-select formControlName="ameaCatCtrl" required>

          <mat-option value="1">ΝΑΙ</mat-option>
          <mat-option value="0">ΟΧΙ</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <p class="pb-0 mb-0">Έχω σύμβαση εργασίας με ιδιωτικό/δημόσιο τομέα</p>
      <mat-form-field class="mr-2" appearance="fill">
        <mat-label>Επιλέξτε</mat-label>
        <mat-select formControlName="workingCatCtrl" required>

          <mat-option value="1">ΝΑΙ</mat-option>
          <mat-option value="0">ΟΧΙ</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <p class="pb-0 mb-0">Υπηρετώ στον στρατό</p>
      <mat-form-field class="mr-2" appearance="fill">
        <mat-label>Επιλέξτε</mat-label>
        <mat-select formControlName="armyCatCtrl" required>

          <mat-option value="1">ΝΑΙ</mat-option>
          <mat-option value="0">ΟΧΙ</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <div>
        <button mat-button matStepperPrevious>Προηγούμενο</button>
        <button mat-button matStepperNext>Επόμενο</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="contactFormGroup">
    <form [formGroup]="contactFormGroup">
      <ng-template matStepLabel>Στοιχεία Επικοινωνίας</ng-template>
      <mat-form-field class="mr-2" appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput formControlName="emailCtrl" type="email" id="inputEmail"
          [ngModel]="this.studentsSSOData[0]?.id + '@uop.gr'" placeholder="email" required>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Τηλέφωνο</mat-label>
        <input matInput type="text" id="phone" name="phone" formControlName="phoneCtrl" ngModel placeholder="Τηλέφωνο"
          [ngModel]="studentsSSOData[0]?.phone" size="31" maxlength="31" />
      </mat-form-field><br>
      <mat-form-field class="mr-2" appearance="fill">
        <mat-label>Οδός</mat-label>
        <input matInput formControlName="addressCtrl" id="address" name="address" ngModel
          [ngModel]="studentsSSOData[0]?.address" size="64" maxlength="255">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Περιοχή</mat-label>
        <input matInput type="text" id="location" name="location" ngModel [ngModel]="studentsSSOData[0]?.location"
          size="64" maxlength="255" formControlName="locationCtrl" placeholder="Περιοχή" />
      </mat-form-field><br>
      <mat-form-field class="mr-2" appearance="fill">
        <mat-label>Πόλη</mat-label>
        <input matInput type="text" id="city" name="city" ngModel formControlName="cityCtrl"
          [ngModel]="studentsSSOData[0]?.city" size="64" maxlength="255" />
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Ταχυδρομικός κώδικας</mat-label>
        <input matInput type="text" id="postal-code" name="post_address" ngModel
          [ngModel]="studentsSSOData[0]?.post_address" size="16" maxlength="16" formControlName="postalCodeCtrl" />
      </mat-form-field><br>
      <div>
        <button mat-button matStepperPrevious>Προηγούμενο</button>
        <button mat-button matStepperNext (click)="updateStudentsAllDetails()">Επόμενο</button>

      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ολοκλήρωση αίτησης</ng-template>
    <p><i class="fas fa-2x fa-check text-success"></i> Καταχωρήθηκε η αίτησή σας, θα γίνει ο έλεγχος και αν πληρείτε
      τις
      προϋποθέσεις για πραγματοποίηση πρακτικής άσκησης, θα ενεργοποιήθει η πρόσβαση σας στο σύστημα.</p>
    <div> -->
  <!-- <button mat-button matStepperPrevious>Πίσω</button> -->
  <!-- <button mat-button (click)="stepper.reset()">Καθαρισμός Φόρμας</button> -->
  <!-- </div>
  </mat-step>-->
</mat-stepper>
