<h3>Στοιχεία Αίτησης Φοιτητή</h3>
<a (click)="viewFile(this.data.studentsData[this.data.index].sso_uid)" style="color: #224957; cursor: pointer;"><i
    class="fa fa-lg fa-print mb-3"></i> Εκτύπωση
</a>
<mat-dialog-content class="mat-typography">
  <mat-divider class="mb-2"></mat-divider>
  <p><span>Ονοματεπώνυμο</span>: {{ this.data.studentsData[this.data.index].givenname}}
    {{ this.data.studentsData[this.data.index].sn}}
  </p>
  <h2 style="font-weight: bold;">Βασικά Δικαιολογητικά</h2>
  <p><span>Πιστοποιητικό οικογενειακής κατάστασης</span>: &nbsp; <a (click)="viewFile('oikogeneiakhKatastasi')"
      style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a> </p>
  <p><span>Δελτίο Αστυνομικής Ταυτότητας/Διαβατήριο</span>: &nbsp; <a (click)="viewFile('tautotita')"
      style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a></p>
  <p><span>Τόπος μόνιμης κατοικίας</span>: &nbsp; <a (click)="viewFile('toposMonimhsKatoikias')"
      style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a> </p>
  <p><span>Εκκαθαριστικό σημείωμα</span>: &nbsp; <a (click)="viewFile('eka8aristiko')"
      style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a> </p>
  <p><span>Υπεύθυνη δήλωση</span>: &nbsp; <a (click)="viewFile('ypeu8unhDilosi')"
      style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a> </p>
  <p><span>Κατηγορία</span>: {{ this.data.studentsData[this.data.index].category}}</p>
  <mat-divider class="mb-2"></mat-divider>
  <h2 style="font-weight: bold;">Προαιρετικά Δικαιολογητικά</h2>
  <p><span>Πολυτεκνία</span>: {{filesMeals.polutekneia ? 'ΝΑΙ' : 'ΟΧΙ'}} &nbsp; <a (click)="viewFile('polutekneia')"
      style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a></p>
  <p><span>Βεβαίωση Σπουδών για αδερφό φοιτητή/τρια</span>: {{filesMeals.bebaioshSpoudonAderfwn ? 'ΝΑΙ' : 'ΟΧΙ'}} &nbsp;
    <a (click)="viewFile('bebaioshSpoudonAderfwn')" style="color: #224957; cursor: pointer;"><i
        class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a></p>
  <p><span>Φοιτητής/τρια γονεάς ή Τριτεκνία</span>: {{filesMeals.pistopoihtikoGoneaFoithth ? 'ΝΑΙ' : 'ΟΧΙ'}} &nbsp; <a
      (click)="viewFile('pistopoihtikoGoneaFoithth')" style="color: #224957; cursor: pointer;"><i
        class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a></p>
  <div>
    <span>Χωρίς Γονείς</span>: {{filesMeals.noParents ? 'ΝΑΙ' : 'ΟΧΙ'}}
    <ul>
      <li>
        <span>Ληξιαρχική Πράξη θανάτου Γονέα</span> &nbsp; <a (click)="viewFile('lhksiarxikhPrakshThanatouGoneaA')"
          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
      <li>
        <span>Ληξιαρχική Πράξη Γέννησης Φοιτητή</span> &nbsp; <a (click)="viewFile('lhksiarxikhPrakshThanatouGoneaB')"
          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
    </ul>
  </div>
  <p><span>Ανύπαντρη Μητέρα</span>: {{filesMeals.agamhMhtera ? 'ΝΑΙ' : 'ΟΧΙ'}} &nbsp; <a
      (click)="viewFile('agamhMhtera')" style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i>
      Προβολή Αρχείου
    </a></p>
  <div>
    <span>Συγγενείς με αναπηρία άνω του 67%</span>:
    {{filesMeals.goneisAMEA || filesMeals.goneisAMEAIatrikhGnomateush ? 'ΝΑΙ' : 'ΟΧΙ'}}
    <ul>
      <li>
        <span>Πιστοποιητικό Υγειονομικής Επιτροπής</span>: {{filesMeals.goneisAMEA ? 'ΝΑΙ' : 'ΟΧΙ'}} &nbsp; <a
          (click)="viewFile('goneisAMEA')" style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i>
          Προβολή Αρχείου
        </a>
      </li>
      <li>
        <span>Ιατρική γνωμάτευση από Δημόσιο Νοσοκομείο</span> &nbsp; <a
          (click)="viewFile('goneisAMEAIatrikhGnomateush')" style="color: #224957; cursor: pointer;"><i
            class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
    </ul>
  </div>
  <div>
    <span>Φοιτητής με σοβαρή ασθένεια</span>:
    {{filesMeals.AMEA || filesMeals.AMEAIatrikhGnomateush ? 'ΝΑΙ' : 'ΟΧΙ'}}
    <ul>
      <li>
        <span>Πιστοποιητικό Υγειονομικής Επιτροπής</span> &nbsp; <a (click)="viewFile('AMEA')"
          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
      <li>
        <span>Ιατρική γνωμάτευση από Δημόσιο Νοσοκομείο</span> &nbsp; <a (click)="viewFile('AMEAIatrikhGnomateush')"
          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
    </ul>
  </div>
  <div>
    <span>Τρομοκρατία</span>: {{filesMeals.noParents ? 'ΝΑΙ' : 'ΟΧΙ'}}
    <ul>
      <li>
        <span>Ληξιαρχική πράξη γέννησης του/της φοιτητή/φοιτήτριας</span> &nbsp; <a (click)="viewFile('')"
          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
      <li>
        <span>Αντίγραφο της πράξης συνταξιοδότησης</span> &nbsp; <a (click)="viewFile('')"
          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
    </ul>
  </div>
  <p><span>Βεβαίωση επιδότησης ανεργίας</span>: &nbsp; <a (click)="viewFile('')"
      style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
    </a> </p>
  <div>
    <span>Διαζευγμένοι γονείς</span>:
    {{filesMeals.diazevgmenoiGoneis1 || filesMeals.diazevgmenoiGoneis2? 'ΝΑΙ' : 'ΟΧΙ'}}
    <ul>
      <li>
        <span>Διαζευκτήριο</span> &nbsp; <a (click)="viewFile('')" style="color: #224957; cursor: pointer;"><i
            class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
      <li>
        <span>Επιμέλεια του/της φοιτητή/φοιτήτριας</span> &nbsp; <a (click)="viewFile('')"
          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-eye mb-3"></i> Προβολή Αρχείου
        </a>
      </li>
    </ul>
  </div>
  <mat-divider class="mb-2"></mat-divider>
  <h2 style="font-weight: bold;">Ειδικά Στοιχεία</h2>
  <p><span>Οικογενειακό Εισόδημα</span>: {{ this.data.studentsData[this.data.index].family_income}}</p>
  <p><span>Οικογενειακή Κατάσταση</span>: {{ this.data.studentsData[this.data.index].family_state}}</p>
  <p><span>Προστατευόμενα Μέλη</span>: {{ this.data.studentsData[this.data.index].protected_members}}</p>
  <p><span>Αδέρφια 1ου κύκλου σπουδών</span>: {{ this.data.studentsData[this.data.index].siblings_students}}</p>
  <p><span>Παιδιά φοιτητή</span>: {{ this.data.studentsData[this.data.index].children}}</p>
</mat-dialog-content>
<mat-dialog-actions style='text-align: right'>
  <button mat-button class="btn btn-primary mat-button" (click)="onCancel()">Κλείσιμο</button>
</mat-dialog-actions>
