<div class="card-body">
  <div class="tab-content">
    <h5 class="font-weight-normal pt-2 pb-2 pl-2">Περίοδος Αιτήσεων</h5>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header p-2">
          <ul class="nav nav-pills">
            <li class="nav-item">
              <a class="nav-link active" href="#meals" data-toggle="tab">
                Σίτιση</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#accommodation" data-toggle="tab"> Στέγαση </a>
            </li>
          </ul>
        </div>
        <div class="card-body">
          <div class="tab-content">
            <div class="tab-pane active" id="meals">
              <form ngNativeValidate #meals="ngForm" class="form-horizontal" (ngSubmit)="(meals.value)">
                <div class="form-group row">
                  <!-- <label for="date" class="col-form-label">Πόλη</label> -->
                  <div *ngIf="isUserNafplio" class="container-responsive row">
                    <select #citySelect class="form-select col-sm-12" (change)="changeDatesByCityMeals()"
                      aria-label="City select">
                      <!-- <option selected>Επιλέξτε Πόλη</option> -->
                      <option value="ΝΑΥΠΛΙΟ" selected>ΝΑΥΠΛΙΟ</option>
                      <option value="ΠΑΤΡΑ">ΠΑΤΡΑ</option>
                      <option value="ΚΑΛΑΜΑΤΑ">ΚΑΛΑΜΑΤΑ</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="date" class="col-form-label">Από:</label>
                    <div class="container row">
                      <div class="pl-0 ml-0 input-group col-12">
                        <input class="form-control" placeholder="dd/mm/yyyy" id="date_from" name="date_from"
                          #c1="ngModel" [(ngModel)]="modelMealsDateFrom" ngbDatepicker #datepicker1="ngbDatepicker" />
                        <button class="btn btn-outline-secondary" (click)="datepicker1.toggle()" type="button">
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="date" class="col-form-label">Έως:</label>
                    <div class="container row">
                      <div class="pl-0 ml-0 input-group col-12">
                        <input class="form-control" placeholder="dd/mm/yyyy" id="date_to" name="date_to" #c2="ngModel"
                          [(ngModel)]="modelMealsDateTo" ngbDatepicker #datepicker2="ngbDatepicker" />
                        <button class="btn btn-outline-secondary" (click)="datepicker2.toggle()" type="button">
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <br>
                <div class="form-group container-fluid row" style="width: 320px; margin: auto">
                  <div class="col-sm-6 submitButton">
                    <button type="submit" (click)="insertPeriodDatesMeals()" class="btn btn-primary"
                      style="width: 120px; margin: auto">
                      {{'MANAGER.PROFILE-CREATE' | translate}}
                    </button>
                  </div>
                  <div class="col-sm-6">
                    <a (click)="meals.resetForm()" class="btn btn-secondary" style="width: 120px; margin: auto">
                      {{'MANAGER.PROFILE-CANCEL' | translate}}
                    </a>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane" id="accommodation">
              <form ngNativeValidate #accommodation="ngForm" class="form-horizontal" (ngSubmit)="(accommodation.value)">
                <div class="form-group row">
                  <div *ngIf="isUserNafplio" class="container-responsive row">
                    <select #citySelectAcc class="form-select col-sm-12" (change)="changeDatesByCityAccommodation()"
                      aria-label="City select">
                      <!-- <option selected>Επιλέξτε Πόλη</option> -->
                      <option value="ΝΑΥΠΛΙΟ" selected>ΝΑΥΠΛΙΟ</option>
                      <option value="ΠΑΤΡΑ">ΠΑΤΡΑ</option>
                      <option value="ΚΑΛΑΜΑΤΑ">ΚΑΛΑΜΑΤΑ</option>
                    </select>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6">
                    <label for="date" class="col-form-label">Από:</label>
                    <div class="container row">
                      <div class="pl-0 ml-0 input-group col-12">
                        <input class="form-control" placeholder="dd/mm/yyyy" id="date_from" name="date_from"
                          #c3="ngModel" [(ngModel)]="modelAccommodationDateFrom" ngbDatepicker
                          #datepicker3="ngbDatepicker" />
                        <button class="btn btn-outline-secondary" (click)="datepicker3.toggle()" type="button">
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="date" class="col-form-label">Έως:</label>
                    <div class="container row">
                      <div class="pl-0 ml-0 input-group col-12">
                        <input class="form-control" placeholder="dd/mm/yyyy" id="date_to" name="date_to" #c4="ngModel"
                          [(ngModel)]="modelAccommodationDateTo" ngbDatepicker #datepicker4="ngbDatepicker" />
                        <button class="btn btn-outline-secondary" (click)="datepicker4.toggle()" type="button">
                          <i class="fas fa-calendar-alt"></i>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <br>

                <div class="form-group container-fluid row" style="width: 320px; margin: auto">
                  <div class="col-sm-6 submitButton">
                    <button type="submit" (click)="insertPeriodDatesAccommodation()" class="btn btn-primary"
                      style="width: 120px; margin: auto">
                      {{'MANAGER.PROFILE-CREATE' | translate}}
                    </button>
                  </div>
                  <div class="col-sm-6">
                    <a (click)="accommodation.resetForm()" class="btn btn-secondary" style="width: 120px; margin: auto">
                      {{'MANAGER.PROFILE-CANCEL' | translate}}
                    </a>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
