<div class="card-body">
  <div class="tab-content">
    <h5 class="font-weight-normal pt-2 pb-2 pl-2">Αιτήσεις Σίτισης</h5>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header p-3">
          <label for="acyear" class="col-form-label mt-0 pt-0">Ακ. Έτος</label>
          <div class="form-group row">
            <div *ngIf="true" class="container-responsive row">
              <select #selectedYearMea name="acyear" id="acyear" class="form-select col-sm-12" aria-label="Year select"
                [ngModel]="this.modelMealsSelectedYear" (change)="getYearValueOnChange(selectedYearMea.value, 'meals')">
                <option disabled [value]="null">Επιλέξτε Ακ. Έτος</option>
                <option #firstDate [value]="currentYear - 2">{{(currentYear - 2)
                        + '-' + (currentYear - 1)}}
                </option>
                <option #secondDate [value]="currentYear - 1">
                  {{(currentYear - 1)
                        + '-' + currentYear}}</option>
                <option #thirdDate [value]="currentYear">
                  {{currentYear
                        + '-' + (currentYear + 1)}}</option>
              </select>
            </div>
          </div>
        </div>

        <div class="card-body">


          <div class="tab-content">
            <div class="tab-pane active" id="processing">
              <form ngNativeValidate #processing="ngForm" class="form-horizontal" (ngSubmit)="(processing.value)">
                <button class="btn btn-secondary" (click)="exportToExcel()"><i class='fas fa-file-export'></i>
                  Excel</button>
                <br><br>
                <table id="processingTable" #processingTable
                  class="table table-responsive table-bordered table-striped">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Επιλογή</th>
                      <th scope="col">Τμήμα</th>
                      <th scope="col">Φοιτ. Μερ</th>
                      <th scope="col">Όνομ/νυμο</th>
                      <th scope="col">Α.Μ.</th>
                      <th scope="col">Αρ. Αίτησης</th>
                      <th scope="col">Ημ/νία Αίτησης</th>
                      <th scope="col">Αίτηση</th>
                      <th scope="col">Εισόδημα</th>
                      <th scope="col">Όριο Εισ.</th>
                      <th scope="col">Σημειώσεις</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let student of studentsSSOData; let idx=index" [attr.data-index]="idx">
                      <td>{{idx+1}}</td>
                      <td *ngIf="state == 0">
                        <mat-form-field id="{{student.app_id}}" name="phase" style="width:100%;" appearance="standard">
                          <mat-label>Υπό επεξεργασία</mat-label>
                          <mat-select value="'option1'" name="phase"
                            value="{{student.status== 1 ? 'option1' : student.status== 0 ? '' : 'option2'}}">
                            <mat-option value="option3" (click)="onSubmitSelect('option3', student.app_id)">Υπό
                              επεξεργασία
                            </mat-option>
                            <mat-option value="option1" (click)="onSubmitSelect('option1', student.app_id)">Έγκριση
                            </mat-option>
                            <mat-option value="option2" (click)="onSubmitSelect('option2', student.app_id)">
                              Απόρριψη
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                        <!-- Insert Comment Button -->
                        <a *ngIf="!checkStudentHasComment(student.sso_uid) == true" class="text-secondary w-100"
                          style="cursor: pointer; font-weight: bold;" (click)="openCommentsDialog(idx)"><i
                            class="fas fa-plus"></i>
                          Προσθήκη Σχολίου<br></a>
                        <a *ngIf="checkStudentHasComment(student.sso_uid)" class=" text-secondary w-100"
                          style="cursor: pointer; font-style: italic;" (click)="openCommentsDialog(idx)"><i
                            class="fas fa-edit"></i>
                          Προβολή / Επεξεργασία Σχολίου<br></a>
                      </td>
                      <td *ngIf="state == 1">
                        <p [ngClass]="{'green-text': student.status == 1 && student.is_approved, 'yellow-text': student.status == 0
                          && !student.is_approved , 'red-text': student.status == -1 }">
                          {{student.status == 1 ? 'Έγκριση - Επιλαχών' : student.status == 0 ? 'Υπό επεξεργασία' : 'Απόρριψη'}}
                        </p>
                      </td>
                      <td>{{getDepartmentNameById(student.department_id)}}</td>
                      <td>{{getDepartmentCityByDepId(student.department_id)}}</td>
                      <td> <a class="custom-info-btn" (click)="studentInfo(idx)">{{student.givenname}}
                          {{student.sn}}</a></td>
                      <td>{{student.schacpersonaluniquecode}}</td>
                      <td>{{student.app_id}}</td>
                      <td>{{formattedDate[idx]}}</td>
                      <td class="text-left" style="min-width: 150px;">
                        <!-- <a (click)="openAppViewDialog(idx, student.app_id)" style="color: #224957; cursor: pointer;"><i
                            class="fa fa-lg fa-eye mb-3"></i>
                          Προβολή </a> -->

                        <a (click)="openAppViewDialog(idx, student.app_id)" style="color: #224957; cursor: pointer;"><i
                            class="fa fa-lg fa-address-card mb-3"></i>
                          Αίτηση </a>
                        <br>
                        <a (click)="receiveZipFileMeals(student.uuid, 'zip')"
                          style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-download mb-3"></i> ZIP Αρχείο
                        </a>
                        <br>
                        <!-- <a href="#" style="color: #224957;"><i class="fa fa-lg fa-address-card"></i> Επεξεργασία </a> -->
                      </td>
                      <td>{{student.family_income}}</td>
                      <td>{{calculateIncomeLimitForStudent(idx)}}</td>
                      <td>
                        {{student.notes}}
                        <mat-divider class="mb-2"></mat-divider>
                        <div style="text-align:center;">
                          <a (click)="openUpdateNotesDialog(student.app_id, student.notes)"
                            style="color: #224957; cursor: pointer;"><i class="fa fa-lg fa-edit"></i></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Επιλογή</th>
                      <th scope="col">Τμήμα</th>
                      <th scope="col">Φοιτ. Μερ</th>
                      <th scope="col">Όνομ/νυμο</th>
                      <th scope="col">Α.Μ.</th>
                      <th scope="col">Αρ. Αίτησης</th>
                      <th scope="col">Ημ/νία Αίτησης</th>
                      <th scope="col">Αίτηση</th>
                      <th scope="col">Εισόδημα</th>
                      <th scope="col">Όριο Εισ.</th>
                      <th scope="col">Σημειώσεις</th>
                    </tr>
                  </tfoot>
                </table>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
