<div class="row">
  <section class="col-lg-9">
    <mat-accordion>
      <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <h1><i class="fas fa-book"></i>
              {{ "STUDENT.STUDENT-CARE-INSTRUCTIONS" | translate }}
            </h1>
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div>
          {{ "STUDENT.STUDENT-CARE-INTRO1" | translate }}
          {{ "STUDENT.HOME" | translate }}
          <br>
          <br>
        </div>
        <span class="d-flex justify-content-center fw-bold pb-2">{{
          "STUDENT.STUDENT-CARE-STEPS-INTRO" | translate
          }}</span>
        <div class="pt-2">
          <span class="text-danger">
            {{ "STUDENT.STUDENT-CARE-STEP1" | translate }}</span>
        </div>
        <div class="pt-2">
          {{ "STUDENT.STUDENT-CARE-STEP2" | translate }}
        </div>
        <li class="pt-2">
          <span class="fst-italic">
            {{ "STUDENT.STUDENT-CARE-STEP3" | translate }}</span>
        </li>
        <li class="pt-2">
          <span class="fst-italic">
            {{ "STUDENT.STUDENT-CARE-STEP4" | translate }}</span>
        </li>
        <div class="pt-2">
          <br>
          {{ "STUDENT.STUDENT-CARE-STEP5" | translate }}
          <span class="text-danger">
            {{ "STUDENT.STUDENT-CARE-STEP6" | translate }}
          </span>
          {{ "STUDENT.STUDENT-CARE-STEP7" | translate }}
          <div class="text-danger">
            {{ "STUDENT.STUDENT-CARE-STEP8" | translate }}
          </div>
          <div>
            {{ "STUDENT.STUDENT-CARE-STEP9" | translate }}
          </div>
        </div>
        <div>
          <br>
          <mat-divider></mat-divider>
          <br>
          <h1><i class="fas fa-calendar-alt pb-3"></i>
            Περίοδος Αιτήσεων
          </h1>
          <div>
            <p *ngIf="periodMeals"> <strong>Περίοδος για Σίτιση:</strong>
              {{this.periodMeals?.date_from}} - {{this.periodMeals?.date_to}}
            </p>
            <p *ngIf="!periodMeals">
              <strong>Περίοδος για Σίτιση:</strong> Δεν υπάρχει περίοδος
            </p>

            <p *ngIf="periodAccommodation"> <strong>Περίοδος για Στέγαση:</strong>
              {{!periodAccommodation ? 'Δεν υπάρχει περίοδος' : this.periodAccommodation?.date_from}} -
              {{!periodAccommodation ? 'Δεν υπάρχει περίοδος' : this.periodAccommodation?.date_to}}
            </p>
            <p *ngIf="!periodAccommodation">
              <strong>Περίοδος για Στέγαση:</strong> Δεν υπάρχει περίοδος
            </p>
          </div>
        </div>
        <mat-divider></mat-divider>
        <br>
        <h1><i class="fas fa-comments pb-3"></i>
          {{ "STUDENT.COMMENTS" | translate }}
        </h1>
        <p> <strong>{{ "STUDENT.COMMENTS-FOR-MEALS" | translate }}</strong>
          {{commentSitisi === null || commentSitisi === '' || commentSitisi === undefined ?
          'Δεν υπάρχουν σχόλια': commentSitisi?.comment_text}}</p>
        <p> <strong>{{ "STUDENT.COMMENTS-FOR-ACCOMMODATION" | translate }}</strong>
          {{commentStegasi === null || commentStegasi === '' || commentStegasi === undefined ?
          'Δεν υπάρχουν σχόλια': commentStegasi?.comment_text}}</p>
      </mat-expansion-panel>
    </mat-accordion>
  </section>
  <section class="col-lg-3">
    <mat-card class="calendar">
      <i class="far fa-calendar-alt"></i>
      {{ "STUDENT.CALENDAR-HOME" | translate }}
      <mat-calendar [(selected)]="selected"></mat-calendar>
    </mat-card>
  </section>
</div>
