<div class="row">
  <section class="col-lg-8 connectedSortable">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title">
          <i class="fas fa-book mr-1"></i>
          {{ "STUDENT.STUDENT-CARE-INSTRUCTIONS" | translate }}
        </h3>
        <div class="card-tools">
          <button
            type="button"
            class="btn btn-sm btn-collapse-min"
            data-card-widget="collapse"
          >
            <i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <div class="tab-content p-0">
          <div class="chart tab-pane active" id="revenue-chart">
            <div>
              {{ "STUDENT.STUDENT-CARE-INTRO1" | translate }}
              {{ "STUDENT.HOME" | translate }}
              <div class="pt-4"></div>
            </div>
            <span class="d-flex justify-content-center fw-bold">{{
              "STUDENT.STUDENT-CARE-STEPS-INTRO" | translate
            }}</span>
            <div class="pt-2">
              <span class="text-danger">
                {{ "STUDENT.STUDENT-CARE-STEP1" | translate }}</span
              >
            </div>
            <div class="pt-2">
              {{ "STUDENT.STUDENT-CARE-STEP2" | translate }}
            </div>
            <li class="pt-2">
              <span class="fst-italic">
                {{ "STUDENT.STUDENT-CARE-STEP3" | translate }}</span
              >
            </li>
            <li class="pt-2">
              <span class="fst-italic">
                {{ "STUDENT.STUDENT-CARE-STEP4" | translate }}</span
              >
            </li>
            <div class="pt-2">
              {{ "STUDENT.STUDENT-CARE-STEP5" | translate }}
              <span class="text-danger">
                {{ "STUDENT.STUDENT-CARE-STEP6" | translate }}
              </span>
              {{ "STUDENT.STUDENT-CARE-STEP7" | translate }}
              <div class="text-danger">
                {{ "STUDENT.STUDENT-CARE-STEP8" | translate }}
              </div>
              <div>
                {{ "STUDENT.STUDENT-CARE-STEP9" | translate }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="col-lg-4 connectedSortable">
    <!-- Calendar -->
    <mat-card class="calendar">
      <i class="far fa-calendar-alt"></i>
      {{ "STUDENT.CALENDAR-HOME" | translate }}
      <mat-calendar [(selected)]="selected"></mat-calendar>
      <!-- <p>Selected date: {{ selected }}</p> -->
    </mat-card>
  </section>
  <!-- right col -->
</div>
<!-- /.row (main row) -->
<!-- <div id="calendar"></div> -->
