.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}

.view-link {
  color: #fff !important;
}

.view-btn {
  background-color: #224957 !important;
  border: 1px solid #1b3c47;
  opacity: 0.96;
}

.view-btn:hover {
  opacity: 1;
}

.disabled {
  color: rgb(197, 197, 197);
}

a {
  color: red;
}

.success {
  line-height: 40px;
  vertical-align: top;
}

@media screen and (max-width: 575px) {
  .backButton {
    padding-bottom: 15px;
  }
}

@media screen and (max-width: 565px) {
  .success {
    padding-top: 15px;
  }
}

@media screen and (max-width: 505px) {
  .success {
    padding-top: 0px;
  }
}

@media screen and (max-width: 505px) {
  .btn-margin-bottom {
    margin-bottom: 5px;
  }
}

/* dark mode */
::ng-deep .dark-mode .mat-focused .mat-form-field-label {
  /*change color of label*/
  color: #fff !important;
}

::ng-deep .dark-mode .mat-form-field-underline {
  /*change color of underline*/
  color: #fff !important;
}

::ng-deep .dark-mode .mat-form-field-ripple {
  /*change color of underline when focused*/
  color: #fff !important;
}

::ng-deep .dark-mode .mat-step-header .mat-step-label .mat-step-text-label {
  /*change color of label*/
  color: #fff;
}

::ng-deep .dark-mode ::placeholder {
  color: #fff;
}

::ng-deep .dark-mode mat-label {
  color: #fff;
}

::ng-deep .dark-mode .mat-form-field .mat-form-field-flex {
  background-color: #343a40;
}

::ng-deep .dark-mode .mat-form-field-appearance-fill .mat-form-field-flex {
  background-color: #40444b
}

::ng-deep .dark-mode .dark {
  background-color: #343a40;
  color: #fff;
}

::ng-deep .dark-mode .mat-select-value {
  color: #fff;
  font-size: large;
}

::ng-deep .mat-select-value {
  font-size: large;
}

::ng-deep .dark-mode .mat-select-placeholder {
  color: #fff;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}