.center {
  text-align: center;
}

#p0 {
  margin-left: 0.5em;
}

#p1 {
  margin-left: 2.5em;
}

.example-right-align {
  text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
  display: none;
}
