<div class='list-group'>
  <li class='pl-3 list-group-item list-header'>Εγχειρίδια χρήσης</li>
  <!-- <a href='https://docs.openeclass.org/3.9/el:detail_description' target='_blank' class='mainpage list-group-item'><span
      class='fas fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Αναλυτική Περιγραφή
    praktiki.uop.gr</a>
    <a href='https://docs.openeclass.org/3.9/el:short_description' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Σύντομη Περιγραφή
    praktiki.uop.gr</a> -->
  <a target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Εγχειρίδιο
    Φοιτητή</a>
  <!-- <a href='https://docs.openeclass.org/3.9/el:student' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Εγχειρίδιο
    Εκπαιδευόμενου</a> -->
</div>
<!-- <div class='mt-3 list-group'>
  <li class='pl-3 list-group-item list-header'>Χρήσιμοι Οδηγοί εκπαιδευτή</li>
  <a href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Δημιουργία Λογαριασμού</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Δημιουργία μαθήματος</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Χαρτοφυλάκιο χρήστη</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Διαχείριση Ηλεκτρονικού Μαθήματος</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Διαχείριση Περιοχών Συζητήσεων</a><a
    href='https://docs.openeclass.org/3.9/el:wizards' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Διαχείριση Ομάδων Εκπαιδευόμενων</a>
</div>
<div class='mt-3 list-group'>
  <li class='pl-3 list-group-item list-header'>Χρήσιμοι Οδηγοί εκπαιδευόμενου</li>
  <a href='https://docs.openeclass.org/3.9/el:register_course' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Εγγραφή σε μάθημα</a><a
    href='https://docs.openeclass.org/3.9/el:personal_portfolio' target='_blank' class='mainpage list-group-item'><span
      class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Χαρτοφυλάκιο
    χρήστη</a><a href='https://docs.openeclass.org/3.9/el:ecourse' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Γνωριμία με το
    Ηλεκτρονικό Μάθημα</a><a href='https://docs.openeclass.org/3.9/el:forum' target='_blank'
    class='mainpage list-group-item'><span class='fa fa-book'></span>&nbsp;&nbsp;-&nbsp;&nbsp;Συμμετοχή σε Περιοχές
    Συζητήσεων</a>
</div> -->
