<h3>Στοιχεία Φοιτητή</h3>
<mat-dialog-content class="mat-typography">
  <mat-divider class="mb-2"></mat-divider>
  <p><span>Ονοματεπώνυμο</span>: {{ this.data.studentsData.givenname }}</p>
  <p><span>ΑΜ</span>: {{ this.studentReg }}</p>
  <p><span>email</span>: {{ this.data.studentsData.mail }}</p>
  <p><span>Ημ/νία Γέννησης</span>: {{formattedDateOfBirth}}</p>
</mat-dialog-content>
<div mat-dialog-actions style='text-align: right'>
  <button class="btn btn-primary mat-button" (click)="onCancel()">Κλείσιμο</button>
</div>
