<uop-loading-screen *ngIf="isLoading"></uop-loading-screen>
<div id="content" *ngIf="!isLoading" class="generic-login-content mt-4" role="main" id="a1">
  <div id="main-terms-div">
    <div class="mt-0" style="max-width:400px;margin:auto;">
      <form ngNativeValidate #companyDetailsForm="ngForm" class="signup-form login-option"
        (ngSubmit)="onSubmitCompanyDetails(companyDetailsForm.value)">
        <h2 class="mb-1">{{'HOME.STUDENT-SIGNUP' | translate}}</h2>
        <hr>
        <div class="mt-4 form-group">
          <!-- <label for="exampleInputEmail1">Όνομα Χρήστη</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-building faicon"></span>
              </span>
            </div>
            <input type="text" class="form-control" id="name" name="name" placeholder="Επωνυμία Φορέα"
              required="required">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-file faicon"></i>
              </span>
            </div>
            <input type="text" #AFMInput class="form-control" id="afm" name="afm" (blur)="onBlur()" placeholder="ΑΦΜ"
              pattern="[0-9]{9-10}" maxlength="10" required="required">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-at faicon"></i>
              </span>
            </div>
            <input type="email" id="contact_email" class="form-control" name="contact_email" placeholder="email"
              pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" required="">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-phone faicon"></i>
              </span>
            </div>
            <input type="text" class="form-control" id="contact_phone" ngModel name="contact_phone"
              placeholder="Τηλέφωνο" required="required" pattern="[0-9]{9-10}" maxlength="10">
            <!-- <input type="tel" class="form-control" id="phone" name="phone" placeholder="Τηλέφωνο" required="required"> -->
          </div>
        </div>
        <div class="mt-4 form-group">
          <!-- <label for="exampleInputEmail1">Όνομα Χρήστη</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-user faicon"></span>
              </span>
            </div>
            <input type="text" class="form-control" id="username" name="username"
              placeholder="{{'HOME.USERNAME' | translate}}" required="required">
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock faicon"></i>
              </span>
            </div>
            <input type="password" class="form-control" id="password" name="password"
              placeholder="{{'HOME.PASSWORD' | translate}}" required="required">
            <i class="fa fa-eye" (click)="passwordToggle('togglePassword', 'password')" id="togglePassword"></i>
          </div>
        </div>
        <div class="form-group">
          <!-- <label for="exampleInputPassword1">Κωδικός</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <i class="fa fa-lock faicon"></i>
              </span>
            </div>
            <input type="password" #repeatPassword (keyup)="checkIfPasswordsMatch()" class="form-control"
              id="repeatPassword" name="repeatPassword" placeholder="{{'HOME.REPEAT-PASSWORD' | translate}}"
              required="required">
            <i class="fa fa-eye" (click)="passwordToggle('togglePassword2', 'repeatPassword')" id="togglePassword2"></i>
          </div>
          <span class="message-tag" id='message'>{{passwordsNotMatch | translate}}</span>
        </div>
        <div class="grid-container">
          <button type="button" class="mt-2 btn btn-secondary">{{'HOME.BACK-BTN' | translate}}</button>
          <div class="hr-divider"></div>
          <button type="submit" class="mt-2 btn btn-primary">{{'HOME.SUBMIT-BTN' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
