   <h4 class="mb-3">Νέο Ερώτημα</h4>
   <div class="form-group">
     <textarea [(ngModel)]="question.question_text" class="form-control" id="exampleFormControlTextarea1"
       rows="3"></textarea>
   </div>
   <button class="btn btn-primary mat-button" (click)="insertNewQuestion()">Υποβολή</button>
   <br><br><br>
   <h4 class="mb-3">Προηγούμενα Ερωτήματα</h4>
   <table class="table table-striped" style="background-color:white; border:1px solid #dee2e6">
     <thead>
       <tr>
         <th scope="col"> Κωδικός Ερώτησης</th>
         <th scope="col"> Ημ/νία Υποβολής</th>
         <th scope="col"> Ερώτηση</th>
         <th scope="col"> Απάντηση</th>
       </tr>
     </thead>
     <tbody>
       <tr *ngFor="let question of previousQuestions">
         <td>{{question.question_id}}</td>
         <td>{{question.date_submitted}}</td>
         <td>{{question.question_text}}</td>
         <td>
           <p *ngIf="question.answer_text; else noAnswer">{{ question.answer_text }}</p>
           <ng-template #noAnswer>
             <p>Δεν έχει δοθεί απάντηση ακόμη.</p>
           </ng-template>
         </td>
       </tr>
     </tbody>
   </table>
