   <h4 class="mb-3">Νέο Ερώτημα</h4>
   <div class="form-group">
     <textarea [(ngModel)]="question.question_text" class="form-control" id="exampleFormControlTextarea1"
       rows="3"></textarea>
   </div>
   <button class="btn btn-primary mat-button" (click)="insertNewQuestion()">Υποβολή</button>
   <br><br><br>
   <h4 class="mb-3">Προηγούμενα Ερωτήματα</h4>
   <mat-accordion>
     <mat-expansion-panel *ngFor="let question of previousQuestions" (opened)="panelOpenState = true"
       (closed)="panelOpenState = false">
       <mat-expansion-panel-header>
         <mat-panel-title>
           Κωδικός Ερώτησης:&nbsp;{{question.question_id}}
         </mat-panel-title>
         <mat-panel-description>
           {{ question.question_text }}
         </mat-panel-description>
       </mat-expansion-panel-header>
       <h6>Ερώτηση</h6>
       <p>{{ question.question_text }}</p>

       <h6>Απάντηση</h6>
       <p *ngIf="question.answer_text; else noAnswer">{{ question.answer_text }}</p>
       <ng-template #noAnswer>
         <p>Δεν έχει δοθεί απάντηση ακόμη.</p>
       </ng-template>
     </mat-expansion-panel>
   </mat-accordion>
