<div class="v3_60">
  <app-home-header></app-home-header>
</div>

<uop-loading-screen *ngIf="isLoading"></uop-loading-screen>
<!-- <mat-spinner color="accent" diameter="40" *ngIf="isLoading"> -->
<!-- </mat-spinner> -->
<div id="content" class="generic-login-content mt-4" role="main" id="a1">
  <div *ngIf="!isLoading" id="main-terms-div">
    <div class="mt-0 container" style="max-width:400px;margin:auto;">
      <form class="signup-form login-option">
        <h2 class="mb-1">{{'HOME.STUDENT-LOGIN' | translate}}</h2>
        <!-- <p>Συμπληρώστε τα παρακάτω για να συνεχίσετε!</p> -->
        <hr>
        <div class="alert alert-success border-0" role="alert">
          {{'HOME.MAIL-RESET-ALERT' | translate}}
        </div>
        <div class="mt-4 form-group">
          <!-- <label for="exampleInputEmail1">Όνομα Χρήστη</label> -->
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">
                <span class="fa fa-envelope"></span>
              </span>
            </div>
            <input #email type="email" class="form-control" id="inputEmail" aria-describedby="emailHelp" id="email"
              name="email" placeholder="{{'HOME.MAIL' | translate}}" required="required">
          </div>
        </div>
        <div class="grid-container">
          <button type="button" [routerLink]="['/credentials-generic']"
            class="mt-2 btn btn-secondary">{{'HOME.BACK-BTN' | translate}}</button>
          <div class="hr-divider"></div>
          <button type="submit" (click)="submitResetPassword()"
            class="mt-2 btn btn-primary">{{'HOME.SUBMIT-BTN' | translate}}</button>
        </div>
      </form>
    </div>
  </div>
</div>
