html {
  padding-top: 100px;
  padding-bottom: 100px;
  height: 100%;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
  background: none;
  background-color: var(--bg-color);
  top: 150px;
}

a.disabled {
  opacity: 0.62;
}

:root {
  --font-color: #0f0f0f;
  --bg-color: #fefefe;
}

[data-theme="dark"] {
  --font-color: #fefefe;
  --bg-color: #121212;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  /* height: 26px; */
  height: 23px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  /* width: 26px; */
  width: 23px;
}

input:checked+.slider {
  background-color: #2b2b2b;
}

input:checked+.slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.app-loading {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 0;
  margin: -8px 0 0 -8px;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app-loading .app-loading-container {
  width: auto;
}

.app-loading .app-loading-container>div {
  display: flex;
  justify-content: center;

}

@media only screen and (max-width: 480px) {
  .app-loading .app-loading-logo img {
    height: 72px;
  }
}

.app-three-bounce {
  width: 80px;
  text-align: center;
}

.app-three-bounce .app-child {
  width: 20px;
  height: 20px;
  background-color: #e6e6e6;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: app-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: app-three-bounce 1.4s ease-in-out 0s infinite both;
}

.app-three-bounce .app-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.app-three-bounce .app-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes app-three-bounce {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@keyframes app-three-bounce {

  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  40% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.main-sidebar {
  background-color: rgba(34, 73, 87, 1);
}

.nav-link.active {
  background-color: rgba(255, 255, 255, 0.1) !important;
}
