<div class="wrapper">
  <nav id="nav-bar" class="main-header navbar navbar-expand navbar-white navbar-light">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
      </li>
      <li class="nav-item d-none d-sm-inline-block">
        <a [routerLink]="['/student/' + this.authService.getSessionId()]" class="nav-link">
          <i style="font-size: 1.2em" class="fa fa-home"></i> {{'HOME-PAGE-BTN' | translate}}</a>
      </li>
    </ul>
    <ul class="navbar-nav ml-auto">
      <ul class="nav navbar-nav ms-auto">
        <li class="nav-item dropdown">
          <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
            <i class="fas fa-lg fa-user-graduate"></i>
            {{ studentsSSOData[0]?.givenname }} {{ studentsSSOData[0]?.sn }}
          </a>
          <div class="dropdown-menu dropdown-menu-end">
            <a [routerLink]="['/student/profile/' + this.authService.getSessionId()]" class="nav-link"
              class="dropdown-item fas fa-user">&nbsp; &nbsp;
              {{'STUDENT.PROFILE' | translate}}</a>
            <div class="dropdown-divider"></div>
            <a (click)="onLogout()" class="cursor-pointer dropdown-item">
              <i class="fas fa-sign-out-alt"></i> &nbsp; {{'STUDENT.LOGOUT' | translate}}</a>
          </div>
        </li>
      </ul>
      <div class="dropdown" style="width: 150px; margin: auto">
        <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
          <i class="fas fa-lg fa-globe"></i>
          {{'LANGUAGE-BTN' | translate}}
        </a>
        <ul class="dropdown-menu">
          <li>
            <a (click)="changeLang('gr')" class="cursor-pointer dropdown-item"><img
                src="../../../assets/images/greeceIcon.png" width="24" height="24" />
              &nbsp; {{'LANGUAGE-SELECT-GR' | translate}}</a>
          </li>
          <li>
            <a (click)="changeLang('en')" class="cursor-pointer dropdown-item">
              <img src="../../../assets/images/englishIcon.png" width="24" height="24" />
              &nbsp; {{'LANGUAGE-SELECT-EN' | translate}}</a>
          </li>
        </ul>
      </div>
      <li class="nav-item">
        <span href="#" style="color: black" class="pr-0 mr-0 nav-link" role="button">
          <label class="theme-switch" style="height: 30px" for="ChangeTheme">
            <input type="checkbox" id="ChangeTheme" />
            <div class="slider round"></div>
          </label>
        </span>
      </li>
      <li class="nav-item pl-0 ml-0">
        <span href="#" class="nav-link moon-icon" role="button">
          <span style="font-size: 1.27em"><i class="fa fa-moon"></i></span>
        </span>
      </li>
    </ul>
  </nav>
  <aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a [routerLink]="['/student/' + this.authService.getSessionId()]" class="brand-link">
      <img src="assets/images/uoplogo2.png" alt="UOP Logo" class="brand-image img-circle elevation-3"
        style="opacity: 1" />
      <span class="brand-text font-weight-light">{{'BRAND-SPAN' | translate}}</span>
    </a>
    <div class="sidebar">
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
        </div>
        <div class="info">
          <a class="d-block">{{'STUDENT.STATUS' | translate}}: {{'STUDENT.UNDERGRAD' | translate}}</a>
        </div>
      </div>
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <a style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
            [routerLink]="['/student/profile/' + this.authService.getSessionId()]" class="d-block">
            <img src="assets/images/default_256.jpg" class="img-circle elevation-2" alt="User Image" />
          </a>
        </div>
        <div class="info">
          <a style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;"
            [routerLink]="['/student/profile/' + this.authService.getSessionId()]" class="d-block">
            {{ studentsSSOData[0]?.givenname?.charAt(0) }}. {{ studentsSSOData[0]?.sn }}</a>
        </div>
      </div>
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-header">{{'STUDENT.SIDEBAR-MAIN-OPTIONS' | translate}}</li>
          <li class="nav-item">
            <a [routerLink]="['/student/accommodation/'+ this.authService.getSessionId()]" class="nav-link">
              <i class="nav-icon fa fa-home"></i>
              <p> {{'STUDENT.SIDEBAR-ACCOMMODATION' | translate}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/student/meals/' + this.authService.getSessionId()]" class="nav-link">
              <i class="nav-icon fas fa-hamburger"></i>
              <p>
                {{'STUDENT.SIDEBAR-MEALS' | translate}}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/student/applications/' + this.authService.getSessionId()]" class="nav-link">
              <i class="nav-icon fa fa-book"></i>
              <p>
                {{'STUDENT.SIDEBAR-APPLICATIONS' | translate}}
              </p>
            </a>
          </li>
          <li class="nav-header">{{'STUDENT.SIDEBAR-SECONDARY-OPTIONS' | translate}}</li>
          <li class="nav-item">
            <a [routerLink]="['/student/manuals']" class="nav-link">
              <i class="nav-icon fa fa-video"></i>
              <p> {{'STUDENT.SIDEBAR-MANUALS' | translate}}</p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/student/about']" class="nav-link">
              <i class="nav-icon fa fa-credit-card"></i>
              <p>
                {{'STUDENT.SIDEBAR-ABOUT' | translate}}
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/student/contact']" class="nav-link">
              <i class="nav-icon fa fa-phone"></i>
              <p>
                {{'STUDENT.SIDEBAR-CONTACT' | translate}}
              </p>
            </a>
          </li>
          <li class="nav-header">{{'STUDENT.SIDEBAR-ACCESSIBILITY' | translate}}</li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer">
              <i class="nav-icon fas fa-ruler"></i>
              <p>
                {{'STUDENT.TEXT-SIZE' | translate}}
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a (click)="changeFont('+')" class="cursor-pointer nav-link">
                  <i class="nav-icon fa fa-search-plus"></i>
                  <p>{{'STUDENT.ENLARGE' | translate}}</p>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="changeFont('-')" class="cursor-pointer nav-link">
                  <i class="nav-icon fa fa-search-minus"></i>
                  <p>{{'STUDENT.REDUCE' | translate}}</p>
                </a>
              </li>
              <li class="nav-item">
                <a (click)="resetFont()" class="cursor-pointer nav-link">
                  <i class="nav-icon fa fa-search"></i>
                  <p>{{'STUDENT.NORMAL' | translate}}</p>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link">
                  <i class="nav-icon fas fa-ruler-combined"></i>
                  <p>{{'STUDENT.CURRENT-SIZE' | translate}}</p>
                  <span id="fontSizeSpan" class="badge badge-info right">100%</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link cursor-pointer">
              <i class="fas fa-adjust"></i>
              <p>
                &nbsp;&nbsp;&nbsp;{{'STUDENT.TEXT-CONTRAST' | translate}}
                <i class="fas fa-angle-left right"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a id="darkmodeBtn" class="cursor-pointer nav-link">
                  <i class="nav-icon fas fa-moon"></i>
                  <p>{{'STUDENT.BLACK-WHITE' | translate}}</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>
  <div id="content-wrapper" class="content-wrapper">
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <app-student-home *ngIf="isStudentRoute()"></app-student-home>
          <app-student-profile *ngIf="isProfileRoute()"></app-student-profile>
          <app-about *ngIf="isAboutRoute()"></app-about>
          <app-manuals *ngIf="isManualsRoute()"></app-manuals>
          <app-contact *ngIf="isContactRoute()"></app-contact>
          <app-accommodation *ngIf="isAccommodationRoute()"></app-accommodation>
          <app-meals *ngIf="isMealsRoute()"></app-meals>
          <app-applications *ngIf="isApplicationssRoute()"></app-applications>
        </div>
      </div>
    </div>
    <section class="content">
      <div class="row"></div>
    </section>
  </div>
  <app-users-footer></app-users-footer>
  <aside class="control-sidebar control-sidebar-dark">
  </aside>
</div>
