        <!-- buttons -->
        <!-- <div class="container btns-container pt-5 mt-4">
          <div class="row">
            <div class="div-student col-6">
              <button class="btn-student">Φοιτητής/τρια</button>
            </div>
            <div class="div-company col-6">
              <button class="btn-company">Εταιρεία - Φορέας</button>
            </div>
          </div>
        </div> -->
        <div class="container btns-container pt-5 mt-4">
          <div class="row">
            <div class="div-student col-12 mt-3">
              <!-- <a href="/terms">eisodos</a> -->
              <button style="font-size:30px;" [routerLink]="['/terms']"
                class="btn-student">{{ 'HOME.ENTER' | translate }}</button>
            </div>
            <div class="pt-3 pb-0" style="max-width:300px; margin:auto; color:rgba(0,0,0,0.9)">
              <div class="or-separator"><label>{{ 'HOME.OR' | translate }}</label></div>
            </div>
            <div class="div-company col-12 mt-3">
              <button class="btn-company"
                [routerLink]="['/company-terms']">{{ 'HOME.CREDENTIALS-LOGIN' | translate }}</button>
            </div>
          </div>
        </div>
