<div id="content" class="content" role="main">
  <div class="v3_50 container-fluid" id="a1">
    <div class="row">
      <div class="col-12 col-md-7 left-col">
        <br />
        <input type="checkbox" id="ChangeTheme" />
        <div *ngIf="isRoute()" class="v3_60">
          <app-home-header></app-home-header>
        </div>
        <!-- <app-home-buttons *ngIf="isRoute()"></app-home-buttons> -->
        <!-- <app-student-login-terms
          *ngIf="isTermsRoute()"
        ></app-student-login-terms> -->
        <!-- <app-company-login-terms
          *ngIf="isCompanyTermsRoute()"
        ></app-company-login-terms>
        <app-credentials-generic-login
          *ngIf="isCredentialsRoute()"
        ></app-credentials-generic-login>
        <app-credentials-generic-signup
          *ngIf="isSignupRoute()"
        ></app-credentials-generic-signup> -->
        <!-- <app-password-reset *ngIf="isPasswordResetRoute()"></app-password-reset> -->
      </div>
      <div class="col-12 col-md-5 allomiso">
        <div class="lang-div">
          <a
            href="#"
            class="nav-link dropdown-toggle selectpicker lang-anchor"
            style="color: white"
            data-toggle="dropdown"
          >
            <i class="fas fa-lg fa-globe"></i>
            <span class="language">
              {{ "LANGUAGE-BTN" | translate }}
            </span>
          </a>
          <ul class="dropdown-menu">
            <li>
              <a (click)="changeLang('gr')" class="cursor-pointer dropdown-item"
                ><img
                  src="../../../assets/images/greeceIcon.png"
                  width="24"
                  height="24"
                />
                &nbsp; {{ "LANGUAGE-SELECT-GR" | translate }}</a
              >
            </li>
            <li>
              <a
                (click)="changeLang('en')"
                class="cursor-pointer dropdown-item"
              >
                <img
                  src="../../../assets/images/englishIcon.png"
                  width="24"
                  height="24"
                />
                &nbsp; {{ "LANGUAGE-SELECT-EN" | translate }}</a
              >
            </li>
          </ul>
        </div>

        <div style="text-align: justify" class="col-content">
          <h2 class="pt-5"><br />{{ "HOME.PURPOSE" | translate }}</h2>
          <br />
          <p>{{ "HOME.PURPOSE-INTRO" | translate }}</p>
          <ul>
            <li>{{ "HOME.PURPOSE-LI1" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI2" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI3" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI4" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI5" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI6" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI7" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI8" | translate }}</li>
            <li>{{ "HOME.PURPOSE-LI9" | translate }}</li>
          </ul>
        </div>
        <div
          id="espaLogoBottom"
          class="m-auto pt-0 mt-0"
          style="width: 61%; border-radius: 20px"
        >
          <img
            src="../../../assets/images/espaImage2.jpg"
            class="m-auto p-auto"
            style="
              min-width: 0px;
              width: 100%;
              border-radius: 10px;
              background-color: rgba(255, 255, 255, 1);
            "
          />
          <br />
          <br />
          <br />
          Copyright &copy; {{ currentYear }}
          {{ "STUDENT.FOOTER" | translate }}
          <div class="float-right d-none d-sm-inline-block"></div>
        </div>
      </div>
      <footer class="home-footer">
        <div class="v3_54"></div>
        <div class="v3_55"></div>
        <div id="svgHolder">
          <!-- <svg style="z-index:0;bottom:0;position:absolute;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2040 290">
            <path fill="#41686f" fill-opacity="0.74"
              d="M0,160L60,181.3C120,203,240,245,360,224C480,203,600,117,720,117.3C840,117,960,203,1080,240C1200,277,1320,267,1380,261.3L1440,256L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
          </svg> -->
          <svg
            style="z-index: 0; bottom: 0; position: absolute"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 2340 270"
          >
            <path
              fill="#41686f"
              fill-opacity="0.9"
              d="M0,256L60,256C120,256,240,256,360,234.7C480,213,600,171,720,144C840,117,960,107,1080,101.3C1200,96,1320,96,1380,96L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
            ></path>
          </svg>
          <!-- <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="1440px" height="320px" viewBox="0 0 1440 320"
            preserveAspectRatio="xMidYMid meet">
            <g transform="translate(10.000000,101.000000) scale(0.200000,-0.200000)">
              <path fill="#41686f" fill-opacity="0.8"
                d="M2280 379 c-176 -22 -412 -70 -840 -171 -462 -109 -1090 -98 -1410 25 -25 9 -30 -10 -30 -111 l0 -122 3000 0 3000 0 0 118 0 118 -115 -27 c-63 -15 -191 -45 -285 -67 -442 -104 -728 -102 -1150 8 -844 219 -1600 299 -2170 229z" />
            </g>
          </svg> -->
          <!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#29c87e" fill-opacity="1"
              d="M0,192L60,213.3C120,235,240,277,360,288C480,299,600,277,720,277.3C840,277,960,299,1080,309.3C1200,320,1320,320,1380,320L1440,320L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z">
            </path>
          </svg> -->
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200">
            <path
              fill="#29c87e"
              fill-opacity="0.93"
              d="M0,96L60,96C120,96,240,96,360,117.3C480,139,600,181,720,213.3C840,245,960,267,1080,245.3C1200,224,1320,160,1380,128L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"
            ></path>
          </svg>
        </div>
      </footer>
      <button id="darkmodeBtn" class="v3_56">
        <i style="color: #2c2c2c" class="fas fa-3x fa-adjust"></i>
      </button>
    </div>
  </div>
</div>
